@import './src/sass/variables.scss';

.about-us {
  margin-bottom: 97px;
}

.about-us__container {
  @include mc-width;
}

.about-us__title {
  margin-bottom: 50px;

  font-family: $ff-dbold;
  font-size: $fs-b;
  line-height: $lh-b;

  text-transform: uppercase;
}

.about-us__img {
  display: block;
  margin-bottom: 29px;
}

.about-us__text {
  margin-bottom: 30px;

  color: #7c7c7c;
}

.about-us__link {
  position: relative;
  display: block;

  text-decoration: none;
  text-transform: uppercase;
  color: #0DB2B3;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    width: 23%;
    height: 1px;

    top: 110%;
    left: 0;
    background-color: #0DB2B3;

    transition: width 0.5s ease-in-out;
  }

  &:hover, 
  &:active, 
  &:focus {
    &::after {
      width: 56%;
    }
  }
}
