@import './src/sass/variables.scss';

.about-us {
  margin-bottom: 97px;

  &__container {
    @include mc-width;
  }

  &__title {
    margin-bottom: 50px;

    font-family: $ff-dbold;
    font-size: $fs-b;
    line-height: $lh-b;

    text-transform: uppercase;
  }

  &__img {
    display: block;
    margin-bottom: 29px;
  }

  &__text {
    margin-bottom: 30px;

    color: #7c7c7c;
  }

  &__link {
    position: relative;
    display: block;

    text-decoration: none;
    text-transform: uppercase;
    color: #0DB2B3;
    outline: none;

    &::after {
      content: "";
      position: absolute;
      width: 23%;
      height: 1px;

      top: 110%;
      left: 0;
      background-color: #0DB2B3;

      transition: width 0.5s ease-in-out;
    }

    &:hover, 
    &:active, 
    &:focus {
      &::after {
        width: 56%;
      }
    }
  }
}

@media (min-width: $tablet) {
  .about-us {
    margin-bottom: 198px;

    &__container {
      width: $tablet;
      display: grid;
      grid-template-columns: repeat(2, 374px);
      grid-template-rows: 144px 146px 15px;
      gap: 35px 20px;
    }

    &__img {
      grid-column-start: 1;
      grid-row-start: 1;
      margin: 0;
      width: 374px;
      height: 415px;
    }

    &__title {
      width: 430px;
      grid-column-start: 2;
      grid-row-start: 1;
      margin: 0 0 0 -90px;

      font-size: $fs-b + 19;
      line-height: $lh-b + 22;
      z-index: 1;
    }

    &__text {
      width: 340px;
      margin: 0;
      grid-column-start: 2;
      grid-row-start: 2;

      font-size: $fs + 2;
      line-height: $lh + 3;
    }

    &__link {
      width: 127px;
      grid-column-start: 2;
      grid-row-start: 3;
      margin: 0;
      font-family: $ff-hmedium;
      font-size: $fs - 2;
      line-height: $lh - 6;

      &::after {
        width: 54px;
        top: 120%;
      }

      &:hover, 
      &:active, 
      &:focus {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  .about-us {
    &__container {
      width: $dc-width;
      grid-template-columns: 582px 378px;
      grid-template-rows: 144px 123px 15px;
    }

    &__text {
      width: 378px;
    }

    &__img {
      width: 582px;
      height: 388px;
    }
  }
}