@import './src/sass/variables.scss';

.advantages {
  margin-bottom: 89px;
}

.advantages__container {
  @include mc-width;
}

.advantages__list {
  @include reset;
  margin-bottom: 35px;

  list-style: none;
}

.advantages__list-item {
  position: relative;
  margin-bottom: 50px;

  &::before {
    position: absolute;
    content: "";

    background-image: url(../img/futuristic_design.svg);
    width: 58px;
    height: 46px;

    margin-top: -90px;
    left: 42%;
  }
}

.advantages__list-item--speaker::before {
  background-image: url(../img/speaker.svg);
}

.advantages__list-item--multiroom::before {
  background-image: url(../img/multiroom.svg);
}

.advantages__list-item--lighting::before {
  background-image: url(../img/lighting.svg);
}

.advantages__list-item:last-child {
  margin-bottom: 0;
}

.advantages__title {
  position: relative;
  margin-bottom: 50px;

  font-family: $ff-d;
  font-size: $fs + 10;
  line-height: $lh + 9;

  text-align: center;
  text-transform: uppercase;
  color: $text-color;
}

.advantages__text {
  text-align: center;
  color: #7c7c7c;
}

.scroll {
  display: none;
}
