@import './src/sass/variables.scss';

.animation-show {
  animation: show 1s ease-out forwards;
}

.scroll {
  display: none;
}

.arrow-right--disable {
  background-image: url(../img/scroll_right_disable.svg);

  &:hover {
    background-image: url(../img/scroll_right_disable.svg);
    cursor: default;
  }
}

.arrow-right--enable {
  background-image: url(../img/scroll_right.svg);
}

.arrow-left--disable {
  background-image: url(../img/scroll_left.svg);

  &:hover {
    background-image: url(../img/scroll_left.svg);
    cursor: default;
  }
}

.arrow-left--enable {
  background-image: url(../img/scroll_left_enable.svg);
}

@keyframes show {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 25%;
  }

  50% {
    opacity: 50%;
  }

  75% {
    opacity: 75%;
  }

  100% {
    opacity: 100%;
  }
}

.header--animation {
  animation: changeColor 1s ease-in-out forwards;
}

@keyframes changeColor {
  0% {
    background-color: #f7f7f7;
  }

  100% {
    background-color: #d0d0d0;
  }
}

.navigation-list--animation {
  display: block;
  animation: showMobileMenu 0.9s ease-in-out;
}

@keyframes showMobileMenu {
  0% {
    transform: translate(0, -100px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .scroll {
    display: block;
  }
}

@media (min-width: 768px) {
  .scroll {
    display: grid;
  }
}
