@import './src/sass/variables.scss';

.scroll {
  display: none;
}

.arrow-right--disable {
  background-image: url(../img/scroll_right_disable.svg);

  &:hover {
    background-image: url(../img/scroll_right_disable.svg);
    cursor: default;
  }
}

.arrow-right--enable {
  background-image: url(../img/scroll_right.svg);
}

.arrow-left--disable {
  background-image: url(../img/scroll_left.svg);

  &:hover {
    background-image: url(../img/scroll_left.svg);
    cursor: default;
  }
}

.arrow-left--enable {
  background-image: url(../img/scroll_left_enable.svg);
}
