@import './src/sass/variables.scss';

.button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 10px;

  font-family: $ff-hmedium;
  font-size: $fs - 2;
  line-height: $lh - 6;

  text-transform: uppercase;
  outline: none;
  transition: 0.3s ease-in-out;

  &--question {
    width: 102px;
    height: 40px;

    background-color: #0DB2B3;
    color: #fff;

    &:hover,
    &:focus {
      background-color: #0C797A;
    }
    
    &:disabled {
      background-color: #CFEFF0;
    }
  }

  @media (min-width: $desktop) {
    &--question {
      height: 48px;
    }
  }

  &--cart {
    display: block;
    width: 160px;
    height: 48px;
    margin: 0 auto;
    box-sizing: border-box;

    border: 1px solid #333333;
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: #131313;
      border: none;
      color: #fff;
      border: 1px solid #131313;
    }

    &--outer {
      margin-bottom: 40px;
    }

    @media (min-width: $tablet) {
      position: relative;
      margin-bottom: 71px;

      &::after {
        content: "";
        position: absolute;
        width: 331px;
        height: 1px;

        top: 100%;
        left: 40%;
        transform: translate(-40%, -100%);
        margin-top: 30px;

        background-color: #e0e0e0;
      }
    }
  }

  &--order {
    width: 120px;
    height: 49px;
    margin: 0 auto;

    text-transform: uppercase;
    background-color: #333333;
    color: #fff;
    transition: 0.3s ease-in-out;

    &--outer {
      margin-bottom: 90px;
    }

    &:hover,
    &:focus {
      background-color: #131313;
    }

    &:disabled {
      opacity: 0;
    }

    @media (min-width: $tablet) {
      position: relative;
      width: 174px;
      height: 48px;
      margin: 0;
      grid-row-start: 7;

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 403px;

        top: 100%;
        left: 0;
        transform: translate(0, -100%);
        margin-left: -49px;

        background-color: #e0e0e0;
      }
    }
  }
}
