@import './src/sass/variables.scss';

.button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 10px;

  font-family: $ff-hmedium;
  font-size: $fs - 2;
  line-height: $lh - 6;

  text-transform: uppercase;
  outline: none;
  transition: 0.3s ease-in-out;

  &--nav {
    display: none;
    width: 102px;
    height: 48px;
    box-sizing: border-box;

    background-color: #333333;
    color: #fff;

    @media (min-width: $tablet) {
      display: block;
    }

    &:hover {
      background-color: #131313;
    }

    &:disabled {
      background-color: transparent;
    }
  }

  &--question {
    width: 102px;
    height: 40px;

    background-color: #0DB2B3;
    color: #fff;

    &:hover,
    &:focus {
      background-color: #0C797A;
    }
    
    &:disabled {
      background-color: #CFEFF0;
    }
  }

  @media (min-width: $desktop) {
    &--question {
      height: 48px;
    }
  }

  &--cart {
    display: block;
    width: 160px;
    height: 48px;
    margin: 0 auto;
    box-sizing: border-box;

    border: 1px solid #333333;
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: #131313;
      border: none;
      color: #fff;
      border: 1px solid #131313;
    }

    &--outer {
      margin-bottom: 40px;
    }

    @media (min-width: $tablet) {
      position: relative;
      margin-bottom: 71px;

      &::after {
        content: "";
        position: absolute;
        width: 331px;
        height: 1px;

        top: 100%;
        left: 40%;
        transform: translate(-40%, -100%);
        margin-top: 30px;

        background-color: #e0e0e0;
      }
    }

    @media (min-width: $desktop) {
      width: 174px;
    }
  }

  &__order {
    width: 120px;
    height: 49px;
    margin: 0;

    background-color: #333333;
    color: #fff;
    transition: 0.3s ease-in-out;

    &--center {
      margin: 0 auto;
    }

    &:hover,
    &:focus {
      background-color: #131313;
    }

    &:disabled {
      opacity: 0;
    }

    @media (min-width: $tablet) {
      position: relative;
      width: 174px;
      height: 48px;
      margin: 0;
      grid-row-start: 7;

      &--pseudo::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 403px;

        top: 100%;
        left: 0;
        transform: translate(0, -100%);
        margin-left: -49px;

        background-color: #e0e0e0;
      }
    }
  }

  &__form {
    @media (min-width: $tablet) {
      width: 160px;
    }

    @media (min-width: $desktop) {
      width: 174px;
    }

    &--shipping {
      width: 160px;

      @media (min-width: $desktop) {
        width: 174px;
      }
    }
  }

  &__thanks {
    width: 160px;
    height: 48px;
    margin: 0 auto;
    box-sizing: border-box;

    border: 1px solid #0DB2B3;;
    background-color: transparent;
    color: #0DB2B3;

    &:hover {
      border-color: #0C797A;
      background-color: #0C797A;
      color: #fff;
    }
  }

  &--fixed {
    position: fixed;
    top: 86%;
    left: 75%;
    display: block;
    width: 48px;
    height: 48px;

    border-radius: 50%;
    background-color: #0DB2B3;
    box-shadow: 0px 5px 8px rgba(154, 154, 154, 0.61);

    cursor: pointer;

    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 16px;
      background-image: url(../img/button-buy.svg);
    }

    &:hover {
      box-shadow: 0px 2px 20px rgba(154, 154, 154, 1);
      transform: scale(1.1);
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &--up {
    display: none;
    position: fixed;
    top: 80%;
    left: 80%;
    width: 24px;
    height: 20px;
    padding: 40px;

    background-image: url(../img/arrow-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

    cursor: pointer;

    &:hover {
      animation: shake-horizontal 0.9s ease-in-out both;
    }
  }
}
