@import './src/sass/variables.scss';

.cart {
  display: none;
  width: $mc-width;
  margin: 0 auto;
  padding: 0 30px;

  &--buy {
    display: block;
  }

  @media (min-width: $tablet) {
    width: $tc-width;
    padding: 0 34px;
  }

  &__logo-container {
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }

  &__logo {
    padding-bottom: 0;
  }

  &__close {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 20px;

    &::after {
      content: "";
      position: absolute;
      top: 20%;
      left: 90%;
      transform: translate(-20%, -90%);
      width: 13px;
      height: 13px;
      background-image: url(../img/cross_icon.png);

      @media (min-width: $tablet) {
        background-image: url(../img/arrow-back.png);
        left: 0;
        top: 30%;
        transform: translate(0, -30%);
      }
    }
  }

  &__way {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      margin-bottom: 90px;
    }
  }

  &__container {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 331px 174px;
      gap: 0 65px;
      justify-content: center;
  
      &--outer {
        margin-bottom: 131px;
      }
    }
  }

  &__product {
    @media (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__order {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-rows: 25px 160px 17px 15px 44px 25px 48px;
      grid-column-start: 2;
      grid-row-start: 1;
      align-self: end;
      margin-bottom: 91px;
    }
  }

  &__title {
    font-family: $ff-dbold;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
    text-align: center;

    @media (min-width: $tablet) {
      font-size: 48px;
      line-height: 60px;
      margin: 0;
      margin-bottom: 20px;
    }
  }

  &__price {
    font-family: $ff-d;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    @media (min-width: $tablet) {
      font-family: $ff-dbold;
      line-height: 36px;
      margin: 0;
      margin-bottom: 54px;
    }
  }

  &__img {
    width: 194px;
    height: 194px;
    display: block;
    margin: 0 auto;

    @media (min-width: $tablet) {
      width: 473px;
      height: 419px;
      margin-bottom: 60px;
      order: -1;
      margin-left: 85px;
    }
  }

  &__color-container {
    width: 236px;
    margin: 0 auto;

    @media (min-width: $tablet) {
      width: 272px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 50px;
      height: 66px;
    }
  }

  &__color-signature {
    font-family: "Helvetica Medium";
    font-size: 12px;
    line-height: 18px;

    text-align: center;
    text-transform: uppercase;

    &--outer {
      margin-bottom: 40px;
    }

    @media (min-width: $tablet) {
      margin: 0;
      width: 200px;
    }
  }

  &__amount {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
  
      &--outer {
        margin-bottom: 40px;
      }
      margin-bottom: 50px;
    }
  }

  &__price-down {
    width: 12px;
    padding: 18px;

    background-image: url(../img/minus_disable.png);
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
  }

  &__price-up {
    width: 12px;
    padding: 18px;

    background-image: url(../img/plus_active.png);
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
  }

  &__value {
    width: 72px;
    height: 38px;
    box-sizing: border-box;

    border: 1px solid #E0E0E0;

    &[value] {
      color: #333333;
      text-align: center;
      line-height: 17px;
    }
  }

  // &__separator {
  //   display: block;
  //   width: 260px;
  //   height: 1px;
  //   margin: 0 auto;
  //   margin-bottom: 42px;

  //   background-color: #E0E0E0;
  // }

  &__shipping-info {
    position: relative;
    line-height: 17px;
    color: #4F4F4F;
    margin-left: 100px;
    margin-bottom: 93px;
    justify-self: end;

    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/shipping.png);
      width: 44px;
      height: 22px;
      top: -5%;
      left: -25%;
      transform: translate(-25%, -5%);
    }

    @media (min-width: $tablet) {
      font-family: $ff-hmedium;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__order-summary {
    margin-bottom: 30px;

    // тут возможно нужен bold
    font-family: "Helvetica Medium", sans-serif;
    font-size: 16px;
    line-height: 20px;

    text-transform: uppercase;
    text-align: center;

    @media (min-width: $tablet) {
      text-align: left;
      grid-row-start: 1;
      margin: 0;
    }
  }

  &__total {
    margin-bottom: 15px;

    font-family: "Helvetica Medium", sans-serif;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    color: #4f4f4f;

    @media (min-width: $tablet) {
      text-align: left;
      grid-row-start: 3;
      margin: 0;
    }
  }

  &__order-price {
    margin-bottom: 20px;

    font-family: "Din Bold", sans-serif;
    font-size: 24px;
    line-height: 30px;

    text-align: center;

    @media (min-width: $tablet) {
      text-align: left;
      grid-row-start: 5;
      margin: 0;
      align-self: center;
    }
  }
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
