@import './src/sass/variables.scss';

.feautures {
  margin-bottom: 45px;
  padding: 45px 0;
  background-color: #f2f2f2;
}

.mobile-content {
  width: $mc-width;
  margin: 0 auto;
}

.feautures__title {
  margin: 0 0 51px 0;

  font-family: $ff-dbold;
  font-size: $fs-b;
  text-transform: uppercase;
}

.feautures__list {
  @include reset;
  list-style: none;
}

.feautures__item-title {
  margin-bottom: 20px;
  font-family: $ff-d;
  font-size: $fs-b - 7;
  line-height: $lh + 11;
  text-transform: uppercase;
  
  color: #0C797A;
}

.feautures__inner-list {
  font-family: $ff-hmedium;
  padding: 0;
  margin-left: 15px;
  list-style: disc;
}

.feautures__list-item {
  margin-bottom: 50px;
}

.feautures__inner-list-item {
  margin-bottom: 10px;
}

.post-scrolling__feautures {
  margin-bottom: 8px;
}

.feautures__image {
  object-fit: cover;
  object-position: left;
}

@media (min-width: $tablet) {
  .feautures {
    position: relative;
    padding: 0;
    background-color: #f7f7f7;

  &--outer {
    margin-bottom: 145px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 644px;
    height: 620px;
    background-color: #f2f2f2;
    top: 60%;
    left: 100%;
    transform: translate(-100%, -60%);
  }

  &__container {
    width: $tablet;
  }

  &__list {
    display: grid;
    grid-template-columns: 384px 384px;
    grid-template-rows: 256px 50px 256px 70px 1fr;
    z-index: 1;

    &-item--grid-first {
      grid-column-start: 2;
      margin: 0;
      z-index: 1;
    }

    &-item--grid-second {
      grid-row-start: 3;
      justify-self: end;
      margin: 0;
      margin-right: 23px;
      z-index: 2;
    }

    &-item--grid-third {
      grid-row-start: 5;
      grid-column-start: 2;
      margin-top: -10px;
      margin-left: -155px;
      z-index: 2;
    }
  }

  &__title {
    font-size: $fs-b + 19;
    line-height: $lh-b + 15;
    margin: 0 0 50px 50px;
  }

  &__item-title {
    font-size: $fs-b - 3;
    line-height: $lh * 2;
    margin: 0 0 38px 0;
  }

  &__inner-list-item {
    font-family: $ff-h;
    font-size: $fs + 2;
    line-height: $lh - 2;
  }

  &__image {
    position: absolute;
    top: 65%;
    left: 100%;
    transform: translate(-100%, -65%);
    width: 586px;
    height: 379px;
    justify-self: end;
    z-index: 1;
  }
  }
}

@media (min-width: $desktop) {
  .feautures {

    &--outer {
      
    }

    &::after {
      width: 1113px;
      height: 701px;
      top: 70%;
      left: 100%;
      transform: translate(-100%, -70%);
    }

    &__container {
      width: $dc-width;
    }

    &__list {
      display: grid;
      grid-template-columns: 500px 500px;
  
      &-item--grid-first {
        z-index: 2;
      }
  
      &-item--grid-second {
        grid-row-start: 2;
        justify-self: center;
        margin: 0;
        margin-left: 30px;
        margin-top: 5px;
      }
  
      &-item--grid-third {
        margin-top: 0;
        margin-left: -185px;
        z-index: 2;
      }
    }

    &__title {
      &--outer {
        margin-bottom: 24px;
      }
    }

    &__inner-list-item {
      line-height: $lh + 3;
    }

    &__image {
      width: 786px;
      height: 509px;
      top: 80%;
      left: 80%;
      transform: translate(-80%, -80%);
      z-index: 1;
    }

    &__item-title {
      line-height: $lh-b - 14;
      &--outer {
        margin-bottom: 38px;
      }
    }
  }
}
