@import './src/sass/variables.scss';

.header {

  &__container {
    width: $mc-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 22px;
  }

  &__logo {
    padding: 28px 0 22px 0;
  }

  &__sandwich {
    display: block;
    box-sizing: border-box;
    width: 24px;
    height: 14px;
    padding: 5px 5px;

    background-image: url(/img/sandwhich.svg);
    background-repeat: no-repeat;

    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .header {

  &__sandwich {
    display: none;
  }

  &__container {
    width: 700px;
  }
}
}

@media (min-width: $desktop) {
  .header {
    &__container {
      width: $dc-width;
    }
  }
}
