@import './src/sass/variables.scss';

.navigation {
  display: none;
}

.navigation-list {
  list-style: none;
}

.navigation-list__link {
  color: $text-color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #4f4f4f;

  &--active-lang {
    color: #333333;
    line-height: 18px;
  }

  &--deactive-lang {
    color: #bdbdbd;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .navigation {
    display: block;
  }

  .navigation-list {
    margin-top: 27px;
    display: flex;
    align-items: center;

    &__item {
      margin-left: 27px;
    }
  }
}
