@import './src/sass/variables.scss';

.navigation {
  display: none;
}

.navigation-list {
  list-style: none;
}

.navigation-list__link {
  color: $text-color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
  }
}
