@import 'variables';

.payment {
  width: $mobile;

  &__form {
    width: $mc-width;
    margin: 0 auto;
  }

  &__fieldset {
    border: none;

    font-size: 12px;
    line-height: 14px;
    color: #7c7c7c;

    &--focus {
      font-size: 10px;
      line-height: 12px;
      color: rgba(12, 121, 122, 0.3);
    }
  }
}
