@import './src/sass/variables.scss';
@import './container.scss';

.question {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 30px;
    font-family: $ff-dbold;
    font-size: $fs-b;
    line-height: $lh-b - 9;
  }

  &__form-input {
    width: 260px;
    box-sizing: border-box;
    border: 1px solid #828282;

    background-color: #f7f7f7;
  }

  &__form-input::placeholder {
    color: #b2b2b2;
  }

  &__form-input--email {
    height: 48px;
    margin-bottom: 19px;
    padding: 0 30px;

    font-size: $fs + 2;
    line-height: $lh - 2;
    outline: none;

    &:valid {
      border: 1px solid #0C797A;
    }

    &:invalid:focus {
      border: 1px solid #EB5757;
    }
  }

  &__message {
    height: 128px;
    resize: none;
    margin-bottom: 30px;
    padding: 16px 30px;

    font-family: $ff-h;
    font-size: $fs + 2;
    line-height: $lh - 2;
  }
}

@media (min-width: $tablet) {
  .question {
    &--outer {
      margin-bottom: 130px;
    }

    &__container {
      display: grid;
      grid-template-columns: repeat(2, 384px);
    }

    &__title {
      margin: 0;
      width: 340px;
      justify-self: center;

      font-size: $fs-b + 19;
      line-height: $lh-b + 15;
    }

    &__form-input {
      width: 340px;
      height: 201px;

      &--email {
        height: 48px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .question {

    &--outer {
      margin-bottom: 142px;
    }

    &__container {
      width: $dc-width;
      grid-template-columns: 480px 438px;
      gap: 0 102px;
      
      &--outer {
        margin-left: 225px;
      }
    }

    &__form-input {
      width: 438px;
      height: 128px;
      
      &--email {
        height: 48px;
      }
    }

    &__title {
      width: 480px;
      line-height: $lh-b + 17;
    }
  }
}
