@import "variables";

.shipping {
  width: 320px;

  @media (min-width: $tablet) {
    width: $tablet;
  }

  @media (min-width: $desktop) {
    width: $desktop;
  }

  &__form {
    width: $mc-width;
    margin: 0 auto;

    @media (min-width: $tablet) {
      width: 340px;
    }

    @media (min-width: $desktop) {
      width: 378px;
    }
  }

  &__placeholder {
    border: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    position: relative;
    color: rgba(12, 121, 122, 0.3);
    font-size: 10px;
    line-height: 12px;
  }

  &__link {
    margin-right: 30px;

    font-family: $ff-hmedium;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;
    text-decoration: none;
    color: #4f4f4f;

    @media (min-width: $tablet) {
      font-family: $ff-h;
      line-height: 14px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--outer {
      margin-bottom: 90px;

      @media (min-width: $tablet) {
        margin-bottom: 130px;
      }

      @media (min-width: $desktop) {
        margin-bottom: 150px;
      }
    }
  }
}

.fake-placeholder {
  opacity: 1;
}
