@import './src/sass/variables.scss';

@font-face {
  font-family: $ff-h;
  src: url("/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
}

@font-face {
  font-family: $ff-d;
  src: url("/fonts/DINPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: $ff-db;
  src: url("/fonts/DINPro-Black.woff2") format("woff2");
}

html {
  @include font-standard;
}

body {
  margin: 0;
  width: 320px;
  background-color: #f7f7f7;
}

@import './navigation.scss';
@import './content.scss';
@import './advantages.scss';
@import './post-scrolling.scss';
