$mc-width: 260px;

$ff-h: "Helvetica";
$ff-hmedium: "Helvetica Medium";
$ff-hlight: "Helvetica Light";
$ff-db: "Din Black";
$ff-dbold: "Din Bold";
$ff-d: "Din";
$fs: 14px;
$fs-b: 37px;
$lh: 21px;
$lh-b: 55px;

$text-color: #333333;

@mixin font-standard {
  font-family: $ff-h;
  font-size: $fs;
  line-height: $lh;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin mc-width {
  width: $mc-width;
  margin: 0 auto;
}
