.about-us {
  margin-bottom: 97px; }

.about-us__container {
  width: 260px;
  margin: 0 auto; }

.about-us__title {
  margin-bottom: 50px;
  font-family: "Din Bold";
  font-size: 37px;
  line-height: 55px;
  text-transform: uppercase; }

.about-us__img {
  display: block;
  margin-bottom: 29px; }

.about-us__text {
  margin-bottom: 30px;
  color: #7c7c7c; }

.about-us__link {
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #0DB2B3;
  outline: none; }
  .about-us__link::after {
    content: "";
    position: absolute;
    width: 23%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: #0DB2B3;
    transition: width 0.5s ease-in-out; }
  .about-us__link:hover::after, .about-us__link:active::after, .about-us__link:focus::after {
    width: 56%; }
