.advantages__list {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  list-style: none; }

.advantages__list-item {
  position: relative;
  margin-bottom: 187px; }
  .advantages__list-item::before {
    position: absolute;
    content: "";
    background-image: url(../img/futuristic_design.svg);
    width: 58px;
    height: 46px;
    margin-top: -90px;
    left: 42%; }

.advantages__list-item--speaker::before {
  background-image: url(../img/speaker.svg); }

.advantages__list-item--multiroom::before {
  background-image: url(../img/multiroom.svg); }

.advantages__list-item--lighting::before {
  background-image: url(../img/lighting.svg); }

.advantages__list-item:last-child {
  margin-bottom: 0; }

.advantages__title {
  position: relative;
  width: 260px;
  margin: 0 auto 50px auto;
  font-family: "Din";
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #333333; }

.advantages__text {
  width: 260px;
  margin: 0 auto;
  text-align: center;
  color: #7c7c7c; }

.advantages__video {
  margin-bottom: 89px; }
