.button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  font-family: "Helvetica Medium";
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  outline: none;
  transition: 0.3s ease-in-out; }
  .button--nav {
    width: 102px;
    height: 48px;
    box-sizing: border-box;
    background-color: #333333;
    color: #fff; }
    .button--nav:hover {
      background-color: #131313; }
    .button--nav:disabled {
      background-color: transparent; }
  .button--question {
    width: 102px;
    height: 40px;
    background-color: #0DB2B3;
    color: #fff; }
    .button--question:hover, .button--question:focus {
      background-color: #0C797A; }
    .button--question:disabled {
      background-color: #CFEFF0; }
  @media (min-width: 1440px) {
    .button--question {
      height: 48px; } }
  .button--cart {
    display: block;
    width: 160px;
    height: 48px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #333333;
    background-color: transparent; }
    .button--cart:hover, .button--cart:focus {
      background-color: #131313;
      border: none;
      color: #fff;
      border: 1px solid #131313; }
    .button--cart--outer {
      margin-bottom: 40px; }
    @media (min-width: 768px) {
      .button--cart {
        position: relative;
        margin-bottom: 71px; }
        .button--cart::after {
          content: "";
          position: absolute;
          width: 331px;
          height: 1px;
          top: 100%;
          left: 40%;
          transform: translate(-40%, -100%);
          margin-top: 30px;
          background-color: #e0e0e0; } }
    @media (min-width: 1440px) {
      .button--cart {
        width: 174px; } }
  .button--order {
    width: 120px;
    height: 49px;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #333333;
    color: #fff;
    transition: 0.3s ease-in-out; }
    .button--order--outer {
      margin-bottom: 90px; }
    .button--order:hover, .button--order:focus {
      background-color: #131313; }
    .button--order:disabled {
      opacity: 0; }
    @media (min-width: 768px) {
      .button--order {
        position: relative;
        width: 174px;
        height: 48px;
        margin: 0;
        grid-row-start: 7; }
        .button--order::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 403px;
          top: 100%;
          left: 0;
          transform: translate(0, -100%);
          margin-left: -49px;
          background-color: #e0e0e0; } }
  .button--fixed {
    position: fixed;
    top: 86%;
    left: 75%;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #0DB2B3;
    box-shadow: 0px 5px 8px rgba(154, 154, 154, 0.61);
    cursor: pointer; }
    .button--fixed::after {
      content: "";
      display: block;
      width: 24px;
      height: 16px;
      background-image: url(../img/button-buy.svg); }
    .button--fixed:hover {
      box-shadow: 0px 2px 20px #9a9a9a;
      transform: scale(1.1); }
    @media (min-width: 768px) {
      .button--fixed {
        display: none; } }
