.cart {
  display: none;
  width: 260px;
  margin: 0 auto;
  padding: 0 30px; }
  .cart--buy {
    display: block; }
  @media (min-width: 768px) {
    .cart {
      width: 700px;
      padding: 0 34px; } }
  .cart__logo-container {
    display: none; }
    @media (min-width: 768px) {
      .cart__logo-container {
        display: block; } }
  .cart__logo {
    padding-bottom: 0; }
  .cart__close {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 20px; }
    .cart__close::after {
      content: "";
      position: absolute;
      top: 20%;
      left: 90%;
      transform: translate(-20%, -90%);
      width: 13px;
      height: 13px;
      background-image: url(../img/cross_icon.png); }
      @media (min-width: 768px) {
        .cart__close::after {
          background-image: url(../img/arrow-back.png);
          left: 0;
          top: 30%;
          transform: translate(0, -30%); } }
  .cart__way {
    display: none; }
    @media (min-width: 768px) {
      .cart__way {
        display: block;
        margin-bottom: 90px; } }
  @media (min-width: 768px) {
    .cart__container {
      display: grid;
      grid-template-columns: 331px 174px;
      gap: 0 65px;
      justify-content: center; }
      .cart__container--outer {
        margin-bottom: 131px; } }
  @media (min-width: 768px) {
    .cart__product {
      display: flex;
      flex-direction: column;
      justify-content: center; } }
  @media (min-width: 768px) {
    .cart__order {
      display: grid;
      grid-template-rows: 25px 160px 17px 15px 44px 25px 48px;
      grid-column-start: 2;
      grid-row-start: 1;
      align-self: end;
      margin-bottom: 91px; } }
  .cart__title {
    font-family: "Din Bold";
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
    text-align: center; }
    @media (min-width: 768px) {
      .cart__title {
        font-size: 48px;
        line-height: 60px;
        margin: 0;
        margin-bottom: 20px; } }
  .cart__price {
    font-family: "Din";
    font-size: 24px;
    line-height: 30px;
    text-align: center; }
    @media (min-width: 768px) {
      .cart__price {
        font-family: "Din Bold";
        line-height: 36px;
        margin: 0;
        margin-bottom: 54px; } }
  .cart__img {
    width: 194px;
    height: 194px;
    display: block;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .cart__img {
        width: 473px;
        height: 419px;
        margin-bottom: 60px;
        order: -1;
        margin-left: 85px; } }
  .cart__color-container {
    width: 236px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .cart__color-container {
        width: 272px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        height: 66px; } }
  .cart__color-signature {
    font-family: "Helvetica Medium";
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase; }
    .cart__color-signature--outer {
      margin-bottom: 40px; }
    @media (min-width: 768px) {
      .cart__color-signature {
        margin: 0;
        width: 200px; } }
  @media (min-width: 768px) {
    .cart__amount {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px; }
      .cart__amount--outer {
        margin-bottom: 40px; } }
  .cart__price-down {
    width: 12px;
    padding: 18px;
    background-image: url(../img/minus_disable.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  .cart__price-up {
    width: 12px;
    padding: 18px;
    background-image: url(../img/plus_active.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  .cart__value {
    width: 72px;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #E0E0E0; }
    .cart__value[value] {
      color: #333333;
      text-align: center;
      line-height: 17px; }
  .cart__shipping-info {
    position: relative;
    line-height: 17px;
    color: #4F4F4F;
    margin-left: 100px;
    margin-bottom: 93px;
    justify-self: end; }
    .cart__shipping-info::before {
      content: "";
      position: absolute;
      background-image: url(../img/shipping.png);
      width: 44px;
      height: 22px;
      top: -5%;
      left: -25%;
      transform: translate(-25%, -5%); }
    @media (min-width: 768px) {
      .cart__shipping-info {
        font-family: "Helvetica Medium";
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
        margin-top: 0; } }
  .cart__order-summary {
    margin-bottom: 30px;
    font-family: "Helvetica Medium", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center; }
    @media (min-width: 768px) {
      .cart__order-summary {
        text-align: left;
        grid-row-start: 1;
        margin: 0; } }
  .cart__total {
    margin-bottom: 15px;
    font-family: "Helvetica Medium", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #4f4f4f; }
    @media (min-width: 768px) {
      .cart__total {
        text-align: left;
        grid-row-start: 3;
        margin: 0; } }
  .cart__order-price {
    margin-bottom: 20px;
    font-family: "Din Bold", sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center; }
    @media (min-width: 768px) {
      .cart__order-price {
        text-align: left;
        grid-row-start: 5;
        margin: 0;
        align-self: center; } }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }
