.feautures {
  margin-bottom: 45px;
  padding: 45px 0;
  background-color: #f2f2f2; }

.mobile-content {
  width: 260px;
  margin: 0 auto; }

.feautures__title {
  margin: 0 0 51px 0;
  font-family: "Din Bold";
  font-size: 37px;
  text-transform: uppercase; }

.feautures__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.feautures__item-title {
  margin-bottom: 20px;
  font-family: "Din";
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: #0C797A; }

.feautures__inner-list {
  font-family: "Helvetica Medium";
  padding: 0;
  margin-left: 15px;
  list-style: disc; }

.feautures__list-item {
  margin-bottom: 50px; }

.feautures__inner-list-item {
  margin-bottom: 10px; }

.post-scrolling__feautures {
  margin-bottom: 8px; }

.feautures__image {
  object-fit: cover;
  object-position: left; }
