.feautures {
  margin-bottom: 45px;
  padding: 45px 0;
  background-color: #f2f2f2; }

.mobile-content {
  width: 260px;
  margin: 0 auto; }

.feautures__title {
  margin: 0 0 51px 0;
  font-family: "Din Bold";
  font-size: 37px;
  text-transform: uppercase; }

.feautures__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.feautures__item-title {
  margin-bottom: 20px;
  font-family: "Din";
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: #0C797A; }

.feautures__inner-list {
  font-family: "Helvetica Medium";
  padding: 0;
  margin-left: 15px;
  list-style: disc; }

.feautures__list-item {
  margin-bottom: 50px; }

.feautures__inner-list-item {
  margin-bottom: 10px; }

.post-scrolling__feautures {
  margin-bottom: 8px; }

.feautures__image {
  object-fit: cover;
  object-position: left; }

@media (min-width: 768px) {
  .feautures {
    position: relative;
    margin-bottom: 145px;
    padding: 0;
    background-color: #f7f7f7; }
    .feautures::after {
      content: "";
      position: absolute;
      width: 644px;
      height: 620px;
      background-color: #f2f2f2;
      top: 60%;
      left: 100%;
      transform: translate(-100%, -60%); }
    .feautures__container {
      width: 768px; }
    .feautures__list {
      display: grid;
      grid-template-columns: 384px 384px;
      grid-template-rows: 256px 50px 256px 70px 1fr;
      z-index: 1; }
      .feautures__list-item--grid-first {
        grid-column-start: 2;
        margin: 0;
        z-index: 1; }
      .feautures__list-item--grid-second {
        grid-row-start: 3;
        justify-self: end;
        margin: 0;
        margin-right: 23px;
        z-index: 2; }
      .feautures__list-item--grid-third {
        grid-row-start: 5;
        grid-column-start: 2;
        margin-top: -10px;
        margin-left: -160px;
        z-index: 2; }
    .feautures__title {
      font-size: 56px;
      line-height: 70px;
      margin: 0 0 50px 50px; }
    .feautures__item-title {
      font-size: 34px;
      line-height: 42px;
      margin: 0 0 38px 0; }
    .feautures__inner-list-item {
      font-family: "Helvetica";
      font-size: 16px;
      line-height: 19px; }
    .feautures__image {
      position: absolute;
      top: 65%;
      left: 100%;
      transform: translate(-100%, -65%);
      width: 586px;
      height: 379px;
      justify-self: end;
      z-index: 1; } }
