.footer__logo-link {
  display: none; }

.footer__socials {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  list-style: none; }

.footer__rights {
  font-family: "Helvetica Light";
  text-align: center;
  font-size: 12px;
  color: #bdbdbd; }

@media (min-width: 768px) {
  .footer {
    margin-bottom: 50px; }
    .footer__logo-link {
      display: block;
      text-align: center; }
      .footer__logo-link-outer {
        margin-bottom: 65px; }
    .footer__socials {
      width: 140px;
      justify-content: space-between;
      margin: 0 auto; }
      .footer__socials--outer {
        margin-bottom: 36px; }
    .footer__rights {
      font-size: 14px; } }
