.navigation {
  display: none; }

.navigation-list {
  list-style: none; }

.navigation-list__link {
  color: #333333;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .navigation {
    display: flex; } }
