.navigation {
  display: none; }

.navigation-list {
  list-style: none; }

.navigation-list__link {
  color: #333333;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #4f4f4f; }
  .navigation-list__link--active-lang {
    color: #333333;
    line-height: 18px; }
  .navigation-list__link--deactive-lang {
    color: #bdbdbd;
    line-height: 18px; }

@media (min-width: 768px) {
  .navigation {
    display: block; }
  .navigation-list {
    margin-top: 27px;
    display: flex;
    align-items: center; }
    .navigation-list__item {
      margin-left: 27px; } }
