.shipping {
  width: 320px; }
  @media (min-width: 768px) {
    .shipping {
      width: 768px; } }
  @media (min-width: 1440px) {
    .shipping {
      width: 1440px; } }
  .shipping__form {
    width: 260px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .shipping__form {
        width: 340px; } }
    @media (min-width: 1440px) {
      .shipping__form {
        width: 378px; } }
  .shipping__input {
    position: relative;
    box-sizing: border-box;
    width: 260px;
    height: 47px;
    padding: 5px;
    font-family: "Helvetica Medium";
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    outline: none; }
    @media (min-width: 768px) {
      .shipping__input {
        width: 340px; } }
    @media (min-width: 1440px) {
      .shipping__input {
        width: 378px; } }
    .shipping__input:focus, .shipping__input:active {
      border-color: #0C797A; }
    .shipping__input::placeholder {
      font-size: 12px;
      line-height: 14px; }
    .shipping__input:focus::placeholder {
      color: transparent; }
    .shipping__input--outer {
      margin-bottom: 29px; }
    .shipping__input--outer-last {
      margin-bottom: 50px; }
  .shipping__placeholder {
    border: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    position: relative;
    color: rgba(12, 121, 122, 0.3);
    font-size: 10px;
    line-height: 12px; }
  .shipping__link {
    margin-right: 30px;
    font-family: "Helvetica Medium";
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #4f4f4f; }
    @media (min-width: 768px) {
      .shipping__link {
        font-family: "Helvetica";
        line-height: 14px; } }
  .shipping__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .shipping__buttons--outer {
      margin-bottom: 90px; }
      @media (min-width: 768px) {
        .shipping__buttons--outer {
          margin-bottom: 130px; } }
      @media (min-width: 1440px) {
        .shipping__buttons--outer {
          margin-bottom: 150px; } }

.fake-placeholder {
  opacity: 1; }
