.container {
  width: 260px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .container {
    width: 768px; } }

.button {
  width: 102px;
  height: 40px;
  box-sizing: border-box;
  font-family: "Helvetica Medium";
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #0DB2B3;
  background-color: #0DB2B3;
  color: #fff;
  cursor: pointer;
  outline: none; }
  .button:hover, .button:focus {
    background-color: #fff;
    color: #0DB2B3; }

.header__container {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 22px; }

.header__logo {
  padding: 28px 0 22px 0; }

.header__sandwich {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 14px;
  padding: 5px 5px;
  background-image: url(/img/sandwhich.svg);
  background-repeat: no-repeat;
  cursor: pointer; }

@media (min-width: 768px) {
  .header__sandwich {
    display: none; }
  .header__container {
    width: 700px; } }

@media (min-width: 1440px) {
  .header__container {
    width: 1194px; } }

.navigation {
  display: none; }

.navigation-list {
  list-style: none; }

.navigation-list__link {
  color: #333333;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .navigation {
    display: block; }
  .navigation-list {
    width: 500px;
    display: flex;
    justify-content: space-between; } }

.content__image {
  margin-bottom: 40px;
  width: 320px;
  height: 245px; }

.content__title {
  margin: 0 0 23px 0;
  font-family: "Din Black";
  font-size: 44px;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
  color: #333333; }

.content__text {
  width: 260px;
  margin: 0 auto 187px auto;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333; }

@media (min-width: 768px) {
  .content {
    width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 303px 483px;
    grid-template-rows: 186px 120px;
    gap: 34px 0; }
    .content--outer {
      margin-bottom: 217px; }
    .content__image {
      width: 483px;
      height: 365px;
      grid-column-start: 2;
      margin-top: -30px;
      margin-left: -50px; }
    .content__title {
      grid-column-start: 1;
      grid-row-start: 1;
      margin: 0;
      font-size: 48px;
      line-height: 62px;
      text-align: left; }
    .content__text {
      grid-row-start: 2;
      width: 250px;
      margin: 0 0 0 5px;
      text-align: left; } }

@media (min-width: 1440px) {
  .content {
    width: 1194px;
    grid-template-columns: 378px 939px;
    grid-template-rows: 249px 96px; }
    .content--outer {
      margin-bottom: 175px; }
    .content__image {
      margin: 0;
      margin-bottom: -10px;
      align-self: end;
      grid-row-end: 3;
      width: 939px;
      height: 464px;
      z-index: -1; }
    .content__title {
      font-size: 64px;
      line-height: 83px; }
    .content__text {
      width: 276px; } }

.advantages {
  margin-bottom: 89px; }
  .advantages__container {
    width: 260px;
    margin: 0 auto; }
  .advantages__list {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    list-style: none; }
  .advantages__list-item {
    position: relative;
    margin-bottom: 50px; }
    .advantages__list-item::before {
      position: absolute;
      content: "";
      background-image: url(../img/futuristic_design.svg);
      width: 58px;
      height: 46px;
      margin-top: -90px;
      left: 42%; }
    .advantages__list-item--speaker::before {
      background-image: url(../img/speaker.svg); }
    .advantages__list-item--multiroom::before {
      background-image: url(../img/multiroom.svg); }
    .advantages__list-item--lighting::before {
      background-image: url(../img/lighting.svg); }
    .advantages__list-item:last-child {
      margin-bottom: 0; }
  .advantages__title {
    position: relative;
    margin-bottom: 50px;
    font-family: "Din";
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #333333; }
  .advantages__text {
    text-align: center;
    color: #7c7c7c; }

@media (min-width: 768px) {
  .advantages {
    margin-bottom: 130px; }
    .advantages__container {
      width: 700px; }
    .advantages__list {
      display: grid;
      grid-template-columns: 340px 340px;
      gap: 155px 20px; }
    .advantages__list-item {
      margin: 0; }
    .advantages__title {
      margin: 0 0 20px 0; }
    .advantages__text {
      margin: 0; } }

@media (min-width: 1440px) {
  .advantages__container {
    width: 1194px; }
  .advantages__list {
    grid-template-columns: repeat(4, 276px);
    gap: 0 30px; }
    .advantages__list-item {
      display: grid;
      grid-template-rows: 30px 126px;
      gap: 50px 0; } }

.video__youtube {
  width: 320px; }

.video--outer {
  margin-bottom: 89px; }

@media (min-width: 768px) {
  .video__youtube {
    width: 768px;
    height: 400px; }
  .video--outer {
    margin-bottom: 130px; } }

@media (min-width: 1440px) {
  .video__youtube {
    width: 1440px;
    height: 590px; }
  .video--outer {
    margin-bottom: 150px; } }

.post-scrolling {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.post-scrolling__nav {
  width: 100px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.post-scrolling__left {
  display: block;
  background-image: url(../img/scroll_left.svg);
  width: 48px;
  height: 13px;
  cursor: pointer; }
  .post-scrolling__left:hover {
    background-image: url(../img/left_hover.svg); }

.post-scrolling__right {
  margin-left: -5px;
  display: block;
  background-image: url(../img/scroll_right.svg);
  width: 48px;
  height: 13px;
  cursor: pointer; }
  .post-scrolling__right:hover {
    background-image: url(../img/right_hover.svg); }

.post-scrolling__change {
  font-family: "Din";
  font-size: 16px;
  line-height: 20px;
  color: #333333; }

.post-scrolling__static {
  font-family: "Din";
  font-size: 11px;
  line-height: 14px;
  color: #BDBDBD; }

.post-scrolling__advantages {
  margin-bottom: 80px; }

@media (min-width: 768px) {
  .post-scrolling__advantages {
    display: none; }
  .post-scrolling__feautures {
    display: none; } }

.about-us {
  margin-bottom: 97px; }
  .about-us__container {
    width: 260px;
    margin: 0 auto; }
  .about-us__title {
    margin-bottom: 50px;
    font-family: "Din Bold";
    font-size: 37px;
    line-height: 55px;
    text-transform: uppercase; }
  .about-us__img {
    display: block;
    margin-bottom: 29px; }
  .about-us__text {
    margin-bottom: 30px;
    color: #7c7c7c; }
  .about-us__link {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #0DB2B3;
    outline: none; }
    .about-us__link::after {
      content: "";
      position: absolute;
      width: 23%;
      height: 1px;
      top: 110%;
      left: 0;
      background-color: #0DB2B3;
      transition: width 0.5s ease-in-out; }
    .about-us__link:hover::after, .about-us__link:active::after, .about-us__link:focus::after {
      width: 56%; }

@media (min-width: 768px) {
  .about-us {
    margin-bottom: 198px; }
    .about-us__container {
      width: 768px;
      display: grid;
      grid-template-columns: repeat(2, 374px);
      grid-template-rows: 144px 146px 15px;
      gap: 35px 20px; }
    .about-us__img {
      grid-column-start: 1;
      grid-row-start: 1;
      margin: 0;
      width: 374px;
      height: 415px; }
    .about-us__title {
      width: 430px;
      grid-column-start: 2;
      grid-row-start: 1;
      margin: 0 0 0 -90px;
      font-size: 56px;
      line-height: 77px;
      z-index: 1; }
    .about-us__text {
      width: 340px;
      margin: 0;
      grid-column-start: 2;
      grid-row-start: 2;
      font-size: 16px;
      line-height: 24px; }
    .about-us__link {
      width: 127px;
      grid-column-start: 2;
      grid-row-start: 3;
      margin: 0;
      font-family: "Helvetica Medium";
      font-size: 12px;
      line-height: 15px; }
      .about-us__link::after {
        width: 54px;
        top: 120%; }
      .about-us__link:hover::after, .about-us__link:active::after, .about-us__link:focus::after {
        width: 100%; } }

@media (min-width: 1440px) {
  .about-us__container {
    width: 1194px;
    grid-template-columns: 582px 378px;
    grid-template-rows: 144px 123px 15px; }
  .about-us__text {
    width: 378px; }
  .about-us__img {
    width: 582px;
    height: 388px; } }

.animation-show {
  animation: show 1s ease-out forwards; }

.scroll {
  display: none; }

.arrow-right--disable {
  background-image: url(../img/scroll_right_disable.svg); }
  .arrow-right--disable:hover {
    background-image: url(../img/scroll_right_disable.svg);
    cursor: default; }

.arrow-right--enable {
  background-image: url(../img/scroll_right.svg); }

.arrow-left--disable {
  background-image: url(../img/scroll_left.svg); }
  .arrow-left--disable:hover {
    background-image: url(../img/scroll_left.svg);
    cursor: default; }

.arrow-left--enable {
  background-image: url(../img/scroll_left_enable.svg); }

@keyframes show {
  0% {
    opacity: 0; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

@media (min-width: 768px) {
  .scroll {
    display: block; } }

@media (min-width: 768px) {
  .scroll {
    display: grid; } }

.technology {
  margin-bottom: 90px; }

.technology__container {
  width: 260px;
  margin: 0 auto; }

.technology__title {
  width: 260px;
  margin: 0 auto;
  font-family: "Din Bold";
  font-size: 37px;
  line-height: 46px;
  text-transform: uppercase; }

.technology__scrolling {
  margin-top: -35px;
  margin-bottom: 90px; }

.technology__review {
  position: relative;
  margin: 0 auto 40px auto;
  font-family: "Din Bold";
  text-align: center; }
  .technology__review::after {
    content: "";
    position: absolute;
    background-image: url(../img/citate.svg);
    background-repeat: no-repeat;
    width: 208px;
    height: 171px;
    top: -15%;
    left: 10%; }

.technology__review-photo {
  display: block;
  margin: 0 auto 20px auto; }

.technology__review-author {
  margin: 0 0 7px 0;
  font-family: "Helvetica Medium";
  font-size: 16px;
  line-height: 27px;
  text-align: center; }

.technology__review-position {
  margin: 0;
  text-align: center;
  font-family: "Helvetica Light";
  line-height: 17px;
  color: #7c7c7c; }

@media (min-width: 768px) {
  .technology {
    margin-bottom: 130px; }
    .technology__container {
      width: 768px; }
    .technology__title {
      font-size: 56px;
      line-height: 70px; }
    .technology__scrolling {
      margin-bottom: 162px; }
    .technology__review {
      width: 700px;
      font-size: 24px;
      line-height: 36px; }
      .technology__review::after {
        width: 233px;
        height: 191px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .technology__review-author {
      margin-bottom: 5px; } }

.feautures {
  margin-bottom: 45px;
  padding: 45px 0;
  background-color: #f2f2f2; }

.mobile-content {
  width: 260px;
  margin: 0 auto; }

.feautures__title {
  margin: 0 0 51px 0;
  font-family: "Din Bold";
  font-size: 37px;
  text-transform: uppercase; }

.feautures__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.feautures__item-title {
  margin-bottom: 20px;
  font-family: "Din";
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: #0C797A; }

.feautures__inner-list {
  font-family: "Helvetica Medium";
  padding: 0;
  margin-left: 15px;
  list-style: disc; }

.feautures__list-item {
  margin-bottom: 50px; }

.feautures__inner-list-item {
  margin-bottom: 10px; }

.post-scrolling__feautures {
  margin-bottom: 8px; }

.feautures__image {
  object-fit: cover;
  object-position: left; }

@media (min-width: 768px) {
  .feautures {
    position: relative;
    margin-bottom: 145px;
    padding: 0;
    background-color: #f7f7f7; }
    .feautures::after {
      content: "";
      position: absolute;
      width: 644px;
      height: 620px;
      background-color: #f2f2f2;
      top: 60%;
      left: 100%;
      transform: translate(-100%, -60%); }
    .feautures__container {
      width: 768px; }
    .feautures__list {
      display: grid;
      grid-template-columns: 384px 384px;
      grid-template-rows: 256px 50px 256px 70px 1fr;
      z-index: 1; }
      .feautures__list-item--grid-first {
        grid-column-start: 2;
        margin: 0;
        z-index: 1; }
      .feautures__list-item--grid-second {
        grid-row-start: 3;
        justify-self: end;
        margin: 0;
        margin-right: 23px;
        z-index: 2; }
      .feautures__list-item--grid-third {
        grid-row-start: 5;
        grid-column-start: 2;
        margin-top: -10px;
        margin-left: -155px;
        z-index: 2; }
    .feautures__title {
      font-size: 56px;
      line-height: 70px;
      margin: 0 0 50px 50px; }
    .feautures__item-title {
      font-size: 34px;
      line-height: 42px;
      margin: 0 0 38px 0; }
    .feautures__inner-list-item {
      font-family: "Helvetica";
      font-size: 16px;
      line-height: 19px; }
    .feautures__image {
      position: absolute;
      top: 65%;
      left: 100%;
      transform: translate(-100%, -65%);
      width: 586px;
      height: 379px;
      justify-self: end;
      z-index: 1; } }

.container {
  width: 260px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .container {
    width: 768px; } }

.question {
  margin-bottom: 100px; }
  .question__title {
    margin-bottom: 30px;
    font-family: "Din Bold";
    font-size: 37px;
    line-height: 46px; }
  .question__form-input {
    width: 260px;
    box-sizing: border-box;
    border: 1px solid #828282;
    background-color: #f7f7f7; }
  .question__form-input::placeholder {
    color: #b2b2b2; }
  .question__form-input--email {
    height: 48px;
    margin-bottom: 19px;
    padding: 0 30px;
    font-size: 16px;
    line-height: 19px;
    outline: none; }
    .question__form-input--email:valid {
      border: 1px solid #0C797A; }
    .question__form-input--email:invalid:focus {
      border: 1px solid #EB5757; }
  .question__message {
    height: 128px;
    resize: none;
    margin-bottom: 30px;
    padding: 16px 30px;
    font-family: "Helvetica";
    font-size: 16px;
    line-height: 19px; }

@media (min-width: 768px) {
  .question--outer {
    margin-bottom: 130px; }
  .question__container {
    display: grid;
    grid-template-columns: repeat(2, 384px); }
  .question__title {
    margin: 0;
    width: 340px;
    justify-self: center;
    font-size: 56px;
    line-height: 70px; }
  .question__form-input {
    width: 340px;
    height: 201px; }
    .question__form-input--email {
      width: 340px;
      height: 48px; } }

.footer__logo-link {
  display: none; }

.footer__socials {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  list-style: none; }

.footer__rights {
  font-family: "Helvetica Light";
  text-align: center;
  font-size: 12px;
  color: #bdbdbd; }

@media (min-width: 768px) {
  .footer {
    margin-bottom: 50px; }
    .footer__logo-link {
      display: block;
      text-align: center; }
      .footer__logo-link-outer {
        margin-bottom: 65px; }
    .footer__socials {
      width: 140px;
      justify-content: space-between;
      margin: 0 auto; }
    .footer__rights {
      font-size: 14px; } }

.animation-show {
  animation: show 1s ease-out forwards; }

.scroll {
  display: none; }

.arrow-right--disable {
  background-image: url(../img/scroll_right_disable.svg); }
  .arrow-right--disable:hover {
    background-image: url(../img/scroll_right_disable.svg);
    cursor: default; }

.arrow-right--enable {
  background-image: url(../img/scroll_right.svg); }

.arrow-left--disable {
  background-image: url(../img/scroll_left.svg); }
  .arrow-left--disable:hover {
    background-image: url(../img/scroll_left.svg);
    cursor: default; }

.arrow-left--enable {
  background-image: url(../img/scroll_left_enable.svg); }

@keyframes show {
  0% {
    opacity: 0; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

@media (min-width: 768px) {
  .scroll {
    display: block; } }

@media (min-width: 768px) {
  .scroll {
    display: grid; } }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"); }

@font-face {
  font-family: "Helvetica Light";
  src: url("/fonts/HelveticaNeueCyr-Light.woff2") format("woff2"); }

@font-face {
  font-family: "Helvetica Medium";
  src: url("/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"); }

@font-face {
  font-family: "Din";
  src: url("/fonts/DINPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Din Bold";
  src: url("/fonts/DINPro-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "Din Black";
  src: url("/fonts/DINPro-Black.woff2") format("woff2"); }

html {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 21px;
  color: #333333; }

body {
  margin: 0 auto;
  width: 320px;
  background-color: #f7f7f7; }

@media (min-width: 768px) {
  body {
    width: 768px; } }

@media (min-width: 1440px) {
  body {
    width: 1440px; } }
