.animation-show {
  animation: show 1s ease-out forwards; }

.scroll {
  display: none; }

.arrow-right--disable {
  background-image: url(../img/scroll_right_disable.svg); }
  .arrow-right--disable:hover {
    background-image: url(../img/scroll_right_disable.svg);
    cursor: default; }

.arrow-right--enable {
  background-image: url(../img/scroll_right.svg); }

.arrow-left--disable {
  background-image: url(../img/scroll_left.svg); }
  .arrow-left--disable:hover {
    background-image: url(../img/scroll_left.svg);
    cursor: default; }

.arrow-left--enable {
  background-image: url(../img/scroll_left_enable.svg); }

@keyframes show {
  0% {
    opacity: 0; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

.technology {
  margin-bottom: 90px; }

.technology__container {
  width: 260px;
  margin: 0 auto; }

.technology__title {
  width: 260px;
  margin: 0 auto;
  font-family: "Din Bold";
  font-size: 37px;
  line-height: 46px;
  text-transform: uppercase; }

.technology__scrolling {
  margin-top: -35px;
  margin-bottom: 90px; }

.technology__review {
  position: relative;
  margin: 0 auto 40px auto;
  font-family: "Din Bold";
  text-align: center; }
  .technology__review::after {
    content: "";
    position: absolute;
    background-image: url(../img/citate.svg);
    background-repeat: no-repeat;
    width: 208px;
    height: 171px;
    top: -15%;
    left: 10%; }

.technology__review-photo {
  display: block;
  margin: 0 auto 20px auto; }

.technology__review-author {
  margin: 0 0 7px 0;
  font-family: "Helvetica Medium";
  font-size: 16px;
  line-height: 27px;
  text-align: center; }

.technology__review-position {
  margin: 0;
  text-align: center;
  font-family: "Helvetica Light";
  line-height: 17px;
  color: #7c7c7c; }
