.animation-show {
  animation: show 1s ease-out forwards; }

.scroll {
  display: none; }

.menu-close {
  display: none; }
  @media (min-width: 768px) {
    .menu-close {
      display: flex; } }

.show {
  display: block; }

.arrow-right--disable {
  background-image: url(../img/scroll_right_disable.svg); }
  .arrow-right--disable:hover {
    background-image: url(../img/scroll_right_disable.svg);
    cursor: default; }

.arrow-right--enable {
  background-image: url(../img/scroll_right.svg); }

.arrow-left--disable {
  background-image: url(../img/scroll_left.svg); }
  .arrow-left--disable:hover {
    background-image: url(../img/scroll_left.svg);
    cursor: default; }

.arrow-left--enable {
  background-image: url(../img/scroll_left_enable.svg); }

@keyframes show {
  0% {
    opacity: 0; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

.header--animation {
  animation: changeColor 1s ease-in-out forwards; }

.logo--out {
  animation: hideMobileMenu 0.9s ease-in-out forwards; }

.scale-out-center {
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both; }

@keyframes scale-in-center {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(1000px);
    opacity: 0; } }

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0);
    opacity: 0; } }

.show-in {
  display: block;
  animation: showIn 0.9s ease-in-out forwards; }
  @media (min-width: 768px) {
    .show-in {
      display: flex; } }

.show-out {
  display: none;
  animation: showOut 0.9s ease-in-out forwards; }

@keyframes showOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes showIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.disappear {
  animation: disappear 0.5s ease-in-out forwards; }

@keyframes disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@media (min-width: 768px) {
  .scroll {
    display: block; } }

@media (min-width: 768px) {
  .scroll {
    display: grid; } }

.button--heartbeat {
  animation: shake-horizontal 0.9s ease-in-out both; }

.list-show {
  animation: anim 0.9s ease-in-out both; }

.list-hide {
  animation: animOut 0.9s ease-in-out both; }

@keyframes anim {
  0% {
    transform: translate(300px, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes animOut {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(-300px, 0); } }

@keyframes shake-horizontal {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%; }
  10% {
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    transform: rotate(4deg); }
  80% {
    transform: rotate(-2deg); }
  90% {
    transform: rotate(2deg); } }

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

.technology {
  margin-bottom: 90px; }
  .technology__container {
    width: 260px;
    margin: 0 auto; }
  .technology__title {
    width: 260px;
    margin: 0 auto;
    font-family: "Din Bold";
    font-size: 37px;
    line-height: 46px;
    text-transform: uppercase; }
  .technology__img {
    width: 320px;
    height: 277px; }
    @media (min-width: 768px) {
      .technology__img {
        width: 768px;
        height: 546px; } }
    @media (min-width: 1440px) {
      .technology__img {
        width: 1294px;
        height: 546px; } }
  .technology__scrolling {
    margin-top: -35px;
    margin-bottom: 90px; }
  .technology__review {
    position: relative;
    margin: 0 auto 40px auto;
    font-family: "Din Bold";
    text-align: center; }
    .technology__review::after {
      content: "";
      position: absolute;
      background-image: url(../img/citate.svg);
      background-repeat: no-repeat;
      width: 208px;
      height: 171px;
      top: -15%;
      left: 10%; }
  .technology__review-photo {
    display: block;
    margin: 0 auto 20px auto; }
  .technology__review-author {
    margin: 0 0 7px 0;
    font-family: "Helvetica Medium";
    font-size: 16px;
    line-height: 27px;
    text-align: center; }
  .technology__review-position {
    margin: 0;
    text-align: center;
    font-family: "Helvetica Light";
    line-height: 17px;
    color: #7c7c7c; }

@media (min-width: 768px) {
  .technology--outer {
    margin-bottom: 130px; }
  .technology__container {
    width: 768px; }
  .technology__title {
    font-size: 56px;
    line-height: 70px; }
  .technology__scrolling {
    margin-bottom: 162px; }
  .technology__review {
    width: 700px;
    font-size: 24px;
    line-height: 36px; }
    .technology__review::after {
      width: 233px;
      height: 191px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .technology__review-author {
    margin-bottom: 5px; } }

@media (min-width: 1440px) {
  .technology--outer {
    margin-bottom: 150px; }
  .technology__container {
    width: 1194px; }
  .technology__title {
    width: 380px;
    margin: 0;
    margin-left: 123px; } }
