.container {
  width: 260px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .container {
    width: 768px; } }

@media (min-width: 1440px) {
  .container {
    width: 1440px; } }

.button {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  padding: 10px;
  font-family: "Helvetica Medium";
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .button--nav {
    display: none;
    width: 102px;
    height: 48px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #333333;
    color: #fff; }
    @media (min-width: 768px) {
      .button--nav {
        display: block; } }
    .button--nav:hover {
      background-color: #131313; }
    .button--nav:disabled {
      background-color: transparent; }
  .button--question {
    width: 102px;
    height: 40px;
    background-color: #0DB2B3;
    color: #fff; }
    .button--question:hover, .button--question:focus {
      background-color: #0C797A; }
    .button--question:disabled {
      background-color: #CFEFF0; }
  @media (min-width: 1440px) {
    .button--question {
      height: 48px; } }
  .button--cart {
    display: block;
    width: 160px;
    height: 48px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #333333;
    background-color: transparent; }
    .button--cart:hover, .button--cart:focus {
      background-color: #131313;
      border: none;
      color: #fff;
      border: 1px solid #131313; }
    .button--cart--outer {
      margin-bottom: 40px; }
    @media (min-width: 768px) {
      .button--cart {
        position: relative;
        margin-bottom: 71px; }
        .button--cart::after {
          content: "";
          position: absolute;
          width: 331px;
          height: 1px;
          top: 100%;
          left: 40%;
          -webkit-transform: translate(-40%, -100%);
              -ms-transform: translate(-40%, -100%);
                  transform: translate(-40%, -100%);
          margin-top: 30px;
          background-color: #e0e0e0; } }
    @media (min-width: 1440px) {
      .button--cart {
        width: 174px; } }
  .button--order {
    width: 120px;
    height: 49px;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #333333;
    color: #fff;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .button--order--outer {
      margin-bottom: 90px; }
    .button--order:hover, .button--order:focus {
      background-color: #131313; }
    .button--order:disabled {
      opacity: 0; }
    @media (min-width: 768px) {
      .button--order {
        position: relative;
        width: 174px;
        height: 48px;
        margin: 0;
        grid-row-start: 7; }
        .button--order::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 403px;
          top: 100%;
          left: 0;
          -webkit-transform: translate(0, -100%);
              -ms-transform: translate(0, -100%);
                  transform: translate(0, -100%);
          margin-left: -49px;
          background-color: #e0e0e0; } }
  .button--fixed {
    position: fixed;
    top: 86%;
    left: 75%;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #0DB2B3;
    -webkit-box-shadow: 0px 5px 8px rgba(154, 154, 154, 0.61);
            box-shadow: 0px 5px 8px rgba(154, 154, 154, 0.61);
    cursor: pointer; }
    .button--fixed::after {
      content: "";
      display: block;
      width: 24px;
      height: 16px;
      background-image: url(../img/button-buy.svg); }
    .button--fixed:hover {
      -webkit-box-shadow: 0px 2px 20px #9a9a9a;
              box-shadow: 0px 2px 20px #9a9a9a;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    @media (min-width: 768px) {
      .button--fixed {
        display: none; } }
  .button--up {
    position: fixed;
    top: 80%;
    left: 80%;
    width: 24px;
    height: 20px;
    padding: 40px;
    background-image: url(../img/arrow-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer; }

@media (min-width: 768px) {
  .header {
    display: block; } }

.header__container {
  width: 260px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 22px; }
  @media (min-width: 768px) {
    .header__container {
      width: 700px; } }
  @media (min-width: 1440px) {
    .header__container {
      width: 1194px; } }

@media (min-width: 768px) {
  .header__logo-link {
    line-height: 0; } }

.header__logo {
  padding: 28px 0 22px 0; }

.header__sandwich {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 24px;
  height: 14px;
  padding: 5px 5px;
  background-image: url(/img/sandwhich.svg);
  background-repeat: no-repeat;
  cursor: pointer; }
  @media (min-width: 768px) {
    .header__sandwich {
      display: none; } }

.header-list {
  width: 260px;
  display: none;
  position: absolute;
  top: 68px;
  left: 0;
  width: 320px;
  text-align: center;
  list-style: none;
  padding: 0;
  background-color: #d0d0d0; }
  @media (min-width: 768px) {
    .header-list {
      width: 253px;
      margin-top: 27px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: transparent; }
      .header-list__item:not(:first-child) {
        margin-left: 27px; } }
  @media (min-width: 1440px) {
    .header-list {
      margin-top: 13px; } }
  .header-list__item {
    margin: 20px 0; }
    @media (min-width: 768px) {
      .header-list__item {
        margin: 0; } }
    .header-list__item--none {
      display: none; }
      @media (min-width: 768px) {
        .header-list__item--none {
          display: block; } }
  @media (min-width: 768px) {
    .header-list {
      position: static; } }
  .header-list__link {
    color: #333333;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #4f4f4f; }
    @media (min-width: 768px) {
      .header-list__link {
        color: #4f4f4f; } }
    @media (min-width: 768px) {
      .header-list__link--active-lang {
        color: #333333;
        line-height: 18px; } }
    .header-list__link--deactive-lang {
      color: #d0d0d0; }
      @media (min-width: 768px) {
        .header-list__link--deactive-lang {
          color: #bdbdbd;
          line-height: 18px; } }

.content__image {
  margin-bottom: 40px;
  width: 320px;
  height: 245px; }

.content__title {
  margin: 0 0 23px 0;
  font-family: "Din Black";
  font-size: 44px;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
  color: #333333; }

.content__text {
  width: 260px;
  margin: 0 auto 187px auto;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333; }

@media (min-width: 768px) {
  .content {
    width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 303px 483px;
    grid-template-rows: 186px 120px;
    gap: 34px 0; }
    .content--outer {
      margin-bottom: 217px; }
    .content__image {
      width: 483px;
      height: 365px;
      grid-column-start: 2;
      margin-top: -30px;
      margin-left: -50px; }
    .content__title {
      grid-column-start: 1;
      grid-row-start: 1;
      margin: 0;
      font-size: 48px;
      line-height: 62px;
      text-align: left; }
    .content__text {
      grid-row-start: 2;
      width: 250px;
      margin: 0 0 0 5px;
      text-align: left; } }

@media (min-width: 1440px) {
  .content {
    width: 1194px;
    grid-template-columns: 378px 939px;
    grid-template-rows: 249px 96px; }
    .content--outer {
      margin-bottom: 175px; }
    .content__image {
      margin: 0;
      margin-bottom: -10px;
      align-self: end;
      grid-row-end: 3;
      width: 939px;
      height: 464px;
      z-index: -1; }
    .content__title {
      font-size: 64px;
      line-height: 83px; }
    .content__text {
      width: 276px; } }

.advantages {
  margin-bottom: 89px; }
  .advantages__container {
    width: 260px;
    margin: 0 auto; }
  .advantages__list {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    list-style: none; }
  .advantages__list-item {
    position: relative;
    margin-bottom: 50px; }
    .advantages__list-item::before {
      position: absolute;
      content: "";
      background-image: url(../img/futuristic_design.svg);
      width: 58px;
      height: 46px;
      margin-top: -90px;
      left: 42%; }
    .advantages__list-item--speaker::before {
      background-image: url(../img/speaker.svg); }
    .advantages__list-item--multiroom::before {
      background-image: url(../img/multiroom.svg); }
    .advantages__list-item--lighting::before {
      background-image: url(../img/lighting.svg); }
    .advantages__list-item:last-child {
      margin-bottom: 0; }
  .advantages__title {
    position: relative;
    margin-bottom: 50px;
    font-family: "Din";
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #333333; }
  .advantages__text {
    text-align: center;
    color: #7c7c7c; }

@media (min-width: 768px) {
  .advantages {
    margin-bottom: 130px; }
    .advantages__container {
      width: 700px; }
    .advantages__list {
      display: grid;
      grid-template-columns: 340px 340px;
      gap: 155px 20px; }
    .advantages__list-item {
      margin: 0; }
    .advantages__title {
      margin: 0 0 20px 0; }
    .advantages__text {
      margin: 0; } }

@media (min-width: 1440px) {
  .advantages__container {
    width: 1194px; }
  .advantages__list {
    grid-template-columns: repeat(4, 276px);
    gap: 0 30px; }
    .advantages__list-item {
      display: grid;
      grid-template-rows: 30px 126px;
      gap: 50px 0; } }

.video__youtube {
  width: 320px; }

.video--outer {
  margin-bottom: 89px; }

@media (min-width: 768px) {
  .video__youtube {
    width: 768px;
    height: 400px; }
  .video--outer {
    margin-bottom: 130px; } }

@media (min-width: 1440px) {
  .video__youtube {
    width: 1440px;
    height: 590px; }
  .video--outer {
    margin-bottom: 150px; } }

.post-scrolling {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.post-scrolling__nav {
  width: 100px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.post-scrolling__left {
  display: block;
  background-image: url(../img/scroll_left.svg);
  width: 48px;
  height: 13px;
  cursor: pointer; }
  .post-scrolling__left:hover {
    background-image: url(../img/left_hover.svg); }

.post-scrolling__right {
  margin-left: -5px;
  display: block;
  background-image: url(../img/scroll_right.svg);
  width: 48px;
  height: 13px;
  cursor: pointer; }
  .post-scrolling__right:hover {
    background-image: url(../img/right_hover.svg); }

.post-scrolling__change {
  font-family: "Din";
  font-size: 16px;
  line-height: 20px;
  color: #333333; }

.post-scrolling__static {
  font-family: "Din";
  font-size: 11px;
  line-height: 14px;
  color: #BDBDBD; }

.post-scrolling__advantages {
  margin-bottom: 80px; }

@media (min-width: 768px) {
  .post-scrolling__advantages {
    display: none; }
  .post-scrolling__feautures {
    display: none; } }

@media (min-width: 1440px) {
  .technology__scrolling {
    display: none; } }

.about-us {
  margin-bottom: 97px; }
  .about-us__container {
    width: 260px;
    margin: 0 auto; }
  .about-us__title {
    margin-bottom: 50px;
    font-family: "Din Bold";
    font-size: 37px;
    line-height: 55px;
    text-transform: uppercase; }
  .about-us__img {
    display: block;
    margin-bottom: 29px; }
  .about-us__text {
    margin-bottom: 30px;
    color: #7c7c7c; }
  .about-us__link {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #0DB2B3;
    outline: none; }
    .about-us__link::after {
      content: "";
      position: absolute;
      width: 23%;
      height: 1px;
      top: 110%;
      left: 0;
      background-color: #0DB2B3;
      -webkit-transition: width 0.5s ease-in-out;
      -o-transition: width 0.5s ease-in-out;
      transition: width 0.5s ease-in-out; }
    .about-us__link:hover::after, .about-us__link:active::after, .about-us__link:focus::after {
      width: 56%; }

@media (min-width: 768px) {
  .about-us {
    margin-bottom: 198px; }
    .about-us__container {
      width: 768px;
      display: grid;
      grid-template-columns: repeat(2, 374px);
      grid-template-rows: 144px 146px 15px;
      gap: 35px 20px; }
    .about-us__img {
      grid-column-start: 1;
      grid-row-start: 1;
      margin: 0;
      width: 374px;
      height: 415px; }
    .about-us__title {
      width: 430px;
      grid-column-start: 2;
      grid-row-start: 1;
      margin: 0 0 0 -90px;
      font-size: 56px;
      line-height: 77px;
      z-index: 1; }
    .about-us__text {
      width: 340px;
      margin: 0;
      grid-column-start: 2;
      grid-row-start: 2;
      font-size: 16px;
      line-height: 24px; }
    .about-us__link {
      width: 127px;
      grid-column-start: 2;
      grid-row-start: 3;
      margin: 0;
      font-family: "Helvetica Medium";
      font-size: 12px;
      line-height: 15px; }
      .about-us__link::after {
        width: 54px;
        top: 120%; }
      .about-us__link:hover::after, .about-us__link:active::after, .about-us__link:focus::after {
        width: 100%; } }

@media (min-width: 1440px) {
  .about-us__container {
    width: 1194px;
    grid-template-columns: 582px 378px;
    grid-template-rows: 144px 123px 15px; }
  .about-us__text {
    width: 378px; }
  .about-us__img {
    width: 582px;
    height: 388px; } }

.animation-show {
  -webkit-animation: show 1s ease-out forwards;
          animation: show 1s ease-out forwards; }

.scroll {
  display: none; }

.arrow-right--disable {
  background-image: url(../img/scroll_right_disable.svg); }
  .arrow-right--disable:hover {
    background-image: url(../img/scroll_right_disable.svg);
    cursor: default; }

.arrow-right--enable {
  background-image: url(../img/scroll_right.svg); }

.arrow-left--disable {
  background-image: url(../img/scroll_left.svg); }
  .arrow-left--disable:hover {
    background-image: url(../img/scroll_left.svg);
    cursor: default; }

.arrow-left--enable {
  background-image: url(../img/scroll_left_enable.svg); }

@-webkit-keyframes show {
  0% {
    opacity: 0; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

@keyframes show {
  0% {
    opacity: 0; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

.header--animation {
  -webkit-animation: changeColor 1s ease-in-out forwards;
          animation: changeColor 1s ease-in-out forwards; }

@-webkit-keyframes changeColor {
  0% {
    background-color: #f7f7f7; }
  100% {
    background-color: #d0d0d0; } }

@keyframes changeColor {
  0% {
    background-color: #f7f7f7; }
  100% {
    background-color: #d0d0d0; } }

.navigation-list--animation {
  display: block;
  -webkit-animation: showMobileMenu 0.9s ease-in-out;
          animation: showMobileMenu 0.9s ease-in-out; }

@-webkit-keyframes showMobileMenu {
  0% {
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; } }

@keyframes showMobileMenu {
  0% {
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; } }

@media (min-width: 768px) {
  .scroll {
    display: block; } }

@media (min-width: 768px) {
  .scroll {
    display: grid; } }

.technology {
  margin-bottom: 90px; }
  .technology__container {
    width: 260px;
    margin: 0 auto; }
  .technology__title {
    width: 260px;
    margin: 0 auto;
    font-family: "Din Bold";
    font-size: 37px;
    line-height: 46px;
    text-transform: uppercase; }
  .technology__scrolling {
    margin-top: -35px;
    margin-bottom: 90px; }
  .technology__review {
    position: relative;
    margin: 0 auto 40px auto;
    font-family: "Din Bold";
    text-align: center; }
    .technology__review::after {
      content: "";
      position: absolute;
      background-image: url(../img/citate.svg);
      background-repeat: no-repeat;
      width: 208px;
      height: 171px;
      top: -15%;
      left: 10%; }
  .technology__review-photo {
    display: block;
    margin: 0 auto 20px auto; }
  .technology__review-author {
    margin: 0 0 7px 0;
    font-family: "Helvetica Medium";
    font-size: 16px;
    line-height: 27px;
    text-align: center; }
  .technology__review-position {
    margin: 0;
    text-align: center;
    font-family: "Helvetica Light";
    line-height: 17px;
    color: #7c7c7c; }

@media (min-width: 768px) {
  .technology--outer {
    margin-bottom: 130px; }
  .technology__container {
    width: 768px; }
  .technology__title {
    font-size: 56px;
    line-height: 70px; }
  .technology__scrolling {
    margin-bottom: 162px; }
  .technology__review {
    width: 700px;
    font-size: 24px;
    line-height: 36px; }
    .technology__review::after {
      width: 233px;
      height: 191px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .technology__review-author {
    margin-bottom: 5px; } }

@media (min-width: 1440px) {
  .technology--outer {
    margin-bottom: 150px; }
  .technology__container {
    width: 1194px; }
  .technology__title {
    width: 380px;
    margin: 0;
    margin-left: 123px; } }

.feautures {
  width: 320px;
  margin-bottom: 45px;
  padding: 45px 0;
  background-color: #f2f2f2; }

.mobile-content {
  width: 260px;
  margin: 0 auto; }

.feautures__title {
  margin: 0 0 51px 0;
  font-family: "Din Bold";
  font-size: 37px;
  text-transform: uppercase; }

.feautures__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.feautures__item-title {
  margin-bottom: 20px;
  font-family: "Din";
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: #0C797A; }

.feautures__inner-list {
  font-family: "Helvetica Medium";
  padding: 0;
  margin-left: 15px;
  list-style: disc; }

.feautures__list-item {
  margin-bottom: 50px; }

.feautures__inner-list-item {
  margin-bottom: 10px; }

.post-scrolling__feautures {
  margin-bottom: 8px; }

.feautures__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left; }

@media (min-width: 768px) {
  .feautures {
    width: 768px;
    position: relative;
    padding: 0;
    background-color: #f7f7f7; }
    .feautures--outer {
      margin-bottom: 145px; }
    .feautures::after {
      content: "";
      position: absolute;
      width: 644px;
      height: 620px;
      background-color: #f2f2f2;
      top: 60%;
      left: 100%;
      -webkit-transform: translate(-100%, -60%);
          -ms-transform: translate(-100%, -60%);
              transform: translate(-100%, -60%); }
    .feautures__container {
      width: 768px; }
    .feautures__list {
      display: grid;
      grid-template-columns: 384px 384px;
      grid-template-rows: 256px 50px 256px 70px 1fr;
      z-index: 1; }
      .feautures__list-item--grid-first {
        grid-column-start: 2;
        margin: 0;
        z-index: 1; }
      .feautures__list-item--grid-second {
        grid-row-start: 3;
        justify-self: end;
        margin: 0;
        margin-right: 23px;
        z-index: 2; }
      .feautures__list-item--grid-third {
        grid-row-start: 5;
        grid-column-start: 2;
        margin-top: -10px;
        margin-left: -155px;
        z-index: 2; }
    .feautures__title {
      font-size: 56px;
      line-height: 70px;
      margin: 0 0 50px 50px; }
    .feautures__item-title {
      font-size: 34px;
      line-height: 42px;
      margin: 0 0 38px 0; }
    .feautures__inner-list-item {
      font-family: "Helvetica";
      font-size: 16px;
      line-height: 19px; }
    .feautures__image {
      position: absolute;
      top: 65%;
      left: 100%;
      -webkit-transform: translate(-100%, -65%);
          -ms-transform: translate(-100%, -65%);
              transform: translate(-100%, -65%);
      width: 586px;
      height: 379px;
      justify-self: end;
      z-index: 1; } }

@media (min-width: 1440px) {
  .feautures {
    width: 1440px; }
    .feautures::after {
      width: 1113px;
      height: 701px;
      top: 70%;
      left: 100%;
      -webkit-transform: translate(-100%, -70%);
          -ms-transform: translate(-100%, -70%);
              transform: translate(-100%, -70%); }
    .feautures__container {
      width: 1194px; }
    .feautures__list {
      display: grid;
      grid-template-columns: 500px 500px; }
      .feautures__list-item--grid-first {
        z-index: 2; }
      .feautures__list-item--grid-second {
        grid-row-start: 2;
        justify-self: center;
        margin: 0;
        margin-left: 30px;
        margin-top: 5px; }
      .feautures__list-item--grid-third {
        margin-top: 0;
        margin-left: -185px;
        z-index: 2; }
    .feautures__title--outer {
      margin-bottom: 24px; }
    .feautures__inner-list-item {
      line-height: 24px; }
    .feautures__image {
      width: 786px;
      height: 509px;
      top: 80%;
      left: 80%;
      -webkit-transform: translate(-80%, -80%);
          -ms-transform: translate(-80%, -80%);
              transform: translate(-80%, -80%);
      z-index: 1; }
    .feautures__item-title {
      line-height: 41px; }
      .feautures__item-title--outer {
        margin-bottom: 38px; } }

.container {
  width: 260px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .container {
    width: 768px; } }

@media (min-width: 1440px) {
  .container {
    width: 1440px; } }

.question {
  margin-bottom: 100px; }
  .question__title {
    margin-bottom: 30px;
    font-family: "Din Bold";
    font-size: 37px;
    line-height: 46px; }
  .question__form-input {
    width: 260px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #828282;
    background-color: #f7f7f7; }
  .question__form-input::-webkit-input-placeholder {
    color: #b2b2b2; }
  .question__form-input::-moz-placeholder {
    color: #b2b2b2; }
  .question__form-input:-ms-input-placeholder {
    color: #b2b2b2; }
  .question__form-input::-ms-input-placeholder {
    color: #b2b2b2; }
  .question__form-input::placeholder {
    color: #b2b2b2; }
  .question__form-input--email {
    height: 48px;
    margin-bottom: 19px;
    padding: 0 30px;
    font-size: 16px;
    line-height: 19px;
    outline: none; }
    .question__form-input--email:valid {
      border: 1px solid #0C797A; }
    .question__form-input--email:invalid:focus {
      border: 1px solid #EB5757; }
  .question__message {
    height: 128px;
    resize: none;
    margin-bottom: 30px;
    padding: 16px 30px;
    font-family: "Helvetica";
    font-size: 16px;
    line-height: 19px; }

@media (min-width: 768px) {
  .question--outer {
    margin-bottom: 130px; }
  .question__container {
    display: grid;
    grid-template-columns: repeat(2, 384px); }
  .question__title {
    margin: 0;
    width: 340px;
    justify-self: center;
    font-size: 56px;
    line-height: 70px; }
  .question__form-input {
    width: 340px;
    height: 201px; }
    .question__form-input--email {
      height: 48px; } }

@media (min-width: 1440px) {
  .question--outer {
    margin-bottom: 142px; }
  .question__container {
    width: 1194px;
    grid-template-columns: 480px 438px;
    gap: 0 102px; }
    .question__container--outer {
      margin-left: 225px; }
  .question__form-input {
    width: 438px;
    height: 128px; }
    .question__form-input--email {
      height: 48px; }
  .question__title {
    width: 480px;
    line-height: 72px; } }

.footer__logo-link {
  display: none; }

.footer__socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  list-style: none; }

.footer__rights {
  font-family: "Helvetica Light";
  text-align: center;
  font-size: 12px;
  color: #bdbdbd; }

@media (min-width: 768px) {
  .footer {
    margin-bottom: 50px; }
    .footer__logo-link {
      display: block;
      text-align: center; }
      .footer__logo-link-outer {
        margin-bottom: 65px; }
    .footer__socials {
      width: 140px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 0 auto; }
      .footer__socials--outer {
        margin-bottom: 36px; }
    .footer__rights {
      font-size: 14px; } }

.cart {
  display: none;
  width: 260px;
  margin: 0 auto;
  padding: 0 30px; }
  .cart--buy {
    display: block; }
  @media (min-width: 768px) {
    .cart {
      width: 700px;
      padding: 0 34px; } }
  @media (min-width: 1440px) {
    .cart {
      width: 1440px;
      padding: 0;
      margin: 0 auto; } }
  .cart__logo-container {
    display: none; }
    @media (min-width: 768px) {
      .cart__logo-container {
        display: block; } }
  .cart__logo {
    padding-bottom: 0; }
  .cart__close {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 20px; }
    .cart__close::after {
      content: "";
      position: absolute;
      top: 20%;
      left: 90%;
      -webkit-transform: translate(-20%, -90%);
          -ms-transform: translate(-20%, -90%);
              transform: translate(-20%, -90%);
      width: 13px;
      height: 13px;
      background-image: url(../img/cross_icon.png); }
      @media (min-width: 768px) {
        .cart__close::after {
          background-image: url(../img/arrow-back.png);
          left: 0;
          top: 30%;
          -webkit-transform: translate(0, -30%);
              -ms-transform: translate(0, -30%);
                  transform: translate(0, -30%); } }
  .cart__way {
    display: none; }
    @media (min-width: 768px) {
      .cart__way {
        display: block;
        margin-bottom: 90px; } }
  @media (min-width: 768px) {
    .cart__container {
      display: grid;
      grid-template-columns: 331px 174px;
      gap: 0 65px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .cart__container--outer {
        margin-bottom: 131px; } }
  @media (min-width: 1440px) {
    .cart__container {
      grid-template-columns: 300px 331px 174px;
      gap: 0 100px; } }
  @media (min-width: 768px) {
    .cart__product {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (min-width: 1440px) {
    .cart__product {
      position: relative;
      grid-column-start: 2; } }
  @media (min-width: 768px) {
    .cart__order {
      display: grid;
      grid-template-rows: 25px 160px 17px 15px 44px 25px 48px;
      grid-column-start: 2;
      grid-row-start: 1;
      align-self: end;
      margin-bottom: 91px; } }
  @media (min-width: 1440px) {
    .cart__order {
      grid-column-start: 3; } }
  .cart__title {
    font-family: "Din Bold";
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
    text-align: center; }
    @media (min-width: 768px) {
      .cart__title {
        font-size: 48px;
        line-height: 60px;
        margin: 0;
        margin-bottom: 20px; } }
  .cart__price {
    font-family: "Din";
    font-size: 24px;
    line-height: 30px;
    text-align: center; }
    @media (min-width: 768px) {
      .cart__price {
        font-family: "Din Bold";
        line-height: 36px;
        margin: 0;
        margin-bottom: 54px; } }
    @media (min-width: 1440px) {
      .cart__price {
        line-height: 30px; } }
  .cart__img {
    width: 194px;
    height: 194px;
    display: block;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .cart__img {
        width: 473px;
        height: 419px;
        margin-bottom: 60px;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
            -ms-flex-order: -1;
                order: -1;
        margin-left: 85px; } }
    @media (min-width: 1440px) {
      .cart__img {
        position: absolute;
        left: -70%;
        -webkit-transform: translate(-70%, 0);
            -ms-transform: translate(-70%, 0);
                transform: translate(-70%, 0); } }
  .cart__color-container {
    width: 236px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .cart__color-container {
        width: 272px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin-bottom: 50px;
        height: 66px; } }
  .cart__color-signature {
    font-family: "Helvetica Medium";
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase; }
    .cart__color-signature--outer {
      margin-bottom: 40px; }
    @media (min-width: 768px) {
      .cart__color-signature {
        margin: 0;
        width: 200px; } }
  .cart__amount {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .cart__amount--outer {
      margin-bottom: 40px; }
    @media (min-width: 768px) {
      .cart__amount--outer {
        margin-bottom: 50px; } }
  .cart__price-down {
    width: 12px;
    padding: 18px;
    background-image: url(../img/minus_disable.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  .cart__price-up {
    width: 12px;
    padding: 18px;
    background-image: url(../img/plus_active.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  .cart__value {
    width: 72px;
    height: 38px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #E0E0E0; }
    .cart__value[value] {
      color: #333333;
      text-align: center;
      line-height: 17px; }
  .cart__shipping-info {
    position: relative;
    line-height: 17px;
    color: #4F4F4F;
    margin-left: 60px;
    margin-bottom: 93px;
    justify-self: end; }
    .cart__shipping-info::before {
      content: "";
      position: absolute;
      background-image: url(../img/shipping.png);
      width: 44px;
      height: 22px;
      top: -5%;
      left: -25%;
      -webkit-transform: translate(-25%, -5%);
          -ms-transform: translate(-25%, -5%);
              transform: translate(-25%, -5%); }
    @media (min-width: 768px) {
      .cart__shipping-info {
        font-family: "Helvetica Medium";
        font-size: 16px;
        line-height: 20px;
        margin-left: 100px;
        margin-bottom: 0;
        margin-top: 0; } }
  .cart__order-summary {
    margin-bottom: 30px;
    font-family: "Helvetica Medium", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center; }
    @media (min-width: 768px) {
      .cart__order-summary {
        text-align: left;
        grid-row-start: 1;
        margin: 0; } }
  .cart__total {
    margin-bottom: 15px;
    font-family: "Helvetica Medium", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #4f4f4f; }
    @media (min-width: 768px) {
      .cart__total {
        text-align: left;
        grid-row-start: 3;
        margin: 0; } }
  .cart__order-price {
    margin-bottom: 20px;
    font-family: "Din Bold", sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center; }
    @media (min-width: 768px) {
      .cart__order-price {
        text-align: left;
        grid-row-start: 5;
        margin: 0;
        align-self: center; } }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.product-card {
  position: relative;
  display: grid;
  grid-template-columns: 85px 170px;
  grid-template-rows: 153px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
  width: 260px;
  height: 153px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff; }
  @media (min-width: 768px) {
    .product-card {
      width: 520px;
      height: 118px;
      grid-template-columns: 122px 398px;
      grid-template-rows: 118px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0;
      margin-top: 100px; } }
  @media (min-width: 1440px) {
    .product-card {
      grid-template-columns: 184px 398px;
      grid-column-start: 2;
      width: 582px;
      height: 118px;
      justify-self: center;
      margin-right: 60px; } }
  .product-card__close {
    position: absolute;
    top: 21px;
    right: 21px;
    width: 12px;
    height: 12px;
    background-image: url(../img/cross_icon.png);
    background-repeat: no-repeat;
    cursor: pointer; }
  .product-card__photo {
    margin-top: 20px;
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
    width: 90px;
    height: 85px; }
    @media (min-width: 768px) {
      .product-card__photo {
        margin: 0; } }
  .product-card__container {
    grid-column-start: 2;
    grid-row-start: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    align-self: center; }
    @media (min-width: 768px) {
      .product-card__container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
  .product-card__value {
    width: 50px; }
  .product-card__color {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 17px; }
    @media (min-width: 768px) {
      .product-card__color {
        margin: 0; } }
  .product-card__def {
    color: #7c7c7c; }
  .product-card--outer {
    margin-bottom: 30px; }
    @media (min-width: 1440px) {
      .product-card--outer {
        margin-bottom: 40px; } }

.animation-show {
  -webkit-animation: show 1s ease-out forwards;
          animation: show 1s ease-out forwards; }

.scroll {
  display: none; }

.arrow-right--disable {
  background-image: url(../img/scroll_right_disable.svg); }
  .arrow-right--disable:hover {
    background-image: url(../img/scroll_right_disable.svg);
    cursor: default; }

.arrow-right--enable {
  background-image: url(../img/scroll_right.svg); }

.arrow-left--disable {
  background-image: url(../img/scroll_left.svg); }
  .arrow-left--disable:hover {
    background-image: url(../img/scroll_left.svg);
    cursor: default; }

.arrow-left--enable {
  background-image: url(../img/scroll_left_enable.svg); }

@keyframes show {
  0% {
    opacity: 0; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

.header--animation {
  -webkit-animation: changeColor 1s ease-in-out forwards;
          animation: changeColor 1s ease-in-out forwards; }

@keyframes changeColor {
  0% {
    background-color: #f7f7f7; }
  100% {
    background-color: #d0d0d0; } }

.navigation-list--animation {
  display: block;
  -webkit-animation: showMobileMenu 0.9s ease-in-out;
          animation: showMobileMenu 0.9s ease-in-out; }

@keyframes showMobileMenu {
  0% {
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; } }

@media (min-width: 768px) {
  .scroll {
    display: block; } }

@media (min-width: 768px) {
  .scroll {
    display: grid; } }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"); }

@font-face {
  font-family: "Helvetica Light";
  src: url("/fonts/HelveticaNeueCyr-Light.woff2") format("woff2"); }

@font-face {
  font-family: "Helvetica Medium";
  src: url("/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"); }

@font-face {
  font-family: "Din";
  src: url("/fonts/DINPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Din Bold";
  src: url("/fonts/DINPro-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "Din Black";
  src: url("/fonts/DINPro-Black.woff2") format("woff2"); }

html {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 21px;
  color: #333333; }

body {
  margin: 0 auto;
  width: 320px;
  background-color: #f7f7f7; }

@media (min-width: 768px) {
  body {
    width: 768px; } }

@media (min-width: 1440px) {
  body {
    width: 1440px; } }

.hide {
  display: none; }
