@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"); }

@font-face {
  font-family: "Helvetica Light";
  src: url("/fonts/HelveticaNeueCyr-Light.woff2") format("woff2"); }

@font-face {
  font-family: "Helvetica Medium";
  src: url("/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"); }

@font-face {
  font-family: "Din";
  src: url("/fonts/DINPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Din Bold";
  src: url("/fonts/DINPro-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "Din Black";
  src: url("/fonts/DINPro-Black.woff2") format("woff2"); }

html {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 21px;
  color: #333333; }

body {
  margin: 0 auto;
  width: 320px;
  background-color: #f7f7f7; }

.header-container {
  width: 260px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 22px; }

.header__logo {
  padding: 28px 0 22px 0; }

.header__sandwich {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 24px;
  height: 14px;
  padding: 5px 5px;
  background-image: url(/img/sandwhich.svg);
  background-repeat: no-repeat;
  cursor: pointer; }

@media (min-width: 768px) {
  .header__sandwich {
    display: none; }
  .header-container {
    width: 700px; } }

.navigation {
  display: none; }

.navigation-list {
  list-style: none; }

.navigation-list__link {
  color: #333333;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .navigation {
    display: block; }
  .navigation-list {
    width: 500px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.content__image {
  margin-bottom: 40px;
  width: 320px;
  height: 245px; }

.content__title {
  margin: 0 0 23px 0;
  font-family: "Din Black";
  font-size: 44px;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
  color: #333333; }

.content__text {
  width: 260px;
  margin: 0 auto 187px auto;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333; }

@media (min-width: 768px) {
  .content {
    display: grid;
    grid-template-columns: 34px 250px 483px;
    grid-template-rows: 183px 34px 120px;
    grid-template-areas: ". title image"  ". . image" ". text image";
    margin-bottom: 217px; }
  .content__image {
    grid-area: image;
    width: 483px;
    height: 365px;
    margin-top: -32px; }
  .content__title {
    margin: 0;
    grid-area: title;
    font-size: 48px;
    line-height: 62px;
    text-align: left; }
  .content__text {
    width: 250px;
    grid-area: text;
    margin: 0 0 0 5px;
    text-align: left; } }

.advantages {
  margin-bottom: 89px; }

.advantages__container {
  width: 260px;
  margin: 0 auto; }

.advantages__list {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  list-style: none; }

.advantages__list-item {
  position: relative;
  margin-bottom: 50px; }
  .advantages__list-item::before {
    position: absolute;
    content: "";
    background-image: url(../img/futuristic_design.svg);
    width: 58px;
    height: 46px;
    margin-top: -90px;
    left: 42%; }

.advantages__list-item--speaker::before {
  background-image: url(../img/speaker.svg); }

.advantages__list-item--multiroom::before {
  background-image: url(../img/multiroom.svg); }

.advantages__list-item--lighting::before {
  background-image: url(../img/lighting.svg); }

.advantages__list-item:last-child {
  margin-bottom: 0; }

.advantages__title {
  position: relative;
  margin-bottom: 50px;
  font-family: "Din";
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #333333; }

.advantages__text {
  text-align: center;
  color: #7c7c7c; }

@media (min-width: 768px) {
  .advantages {
    margin-bottom: 130px; }
  .advantages__container {
    width: 700px; }
  .advantages__list {
    display: grid;
    grid-template-columns: 340px 340px;
    grid-gap: 155px 20px; }
  .advantages__list-item {
    margin: 0; }
  .advantages__title {
    margin: 0 0 20px 0; }
  .advantages__text {
    margin: 0; } }

.video__youtube {
  width: 320px;
  margin-bottom: 89px; }

@media (min-width: 768px) {
  .video__youtube {
    width: 768px;
    height: 400px;
    margin-bottom: 130px; } }

.post-scrolling {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.post-scrolling__nav {
  width: 100px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.post-scrolling__left {
  display: block;
  background-image: url(../img/scroll_left.svg);
  width: 48px;
  height: 13px;
  cursor: pointer; }
  .post-scrolling__left:hover {
    background-image: url(../img/left_hover.svg); }

.post-scrolling__right {
  margin-left: -5px;
  display: block;
  background-image: url(../img/scroll_right.svg);
  width: 48px;
  height: 13px;
  cursor: pointer; }
  .post-scrolling__right:hover {
    background-image: url(../img/right_hover.svg); }

.post-scrolling__change {
  font-family: "Din";
  font-size: 16px;
  line-height: 20px;
  color: #333333; }

.post-scrolling__static {
  font-family: "Din";
  font-size: 11px;
  line-height: 14px;
  color: #BDBDBD; }

.post-scrolling__advantages {
  margin-bottom: 80px; }

@media (min-width: 768px) {
  .post-scrolling__advantages {
    display: none; } }

.about-us {
  margin-bottom: 97px; }

.about-us__container {
  width: 260px;
  margin: 0 auto; }

.about-us__title {
  margin-bottom: 50px;
  font-family: "Din Bold";
  font-size: 37px;
  line-height: 55px;
  text-transform: uppercase; }

.about-us__img {
  display: block;
  margin-bottom: 29px; }

.about-us__text {
  margin-bottom: 30px;
  color: #7c7c7c; }

.about-us__link {
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #0DB2B3;
  outline: none; }
  .about-us__link::after {
    content: "";
    position: absolute;
    width: 23%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: #0DB2B3;
    -webkit-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out; }
  .about-us__link:hover::after, .about-us__link:active::after, .about-us__link:focus::after {
    width: 56%; }

@media (min-width: 768px) {
  .about-us {
    margin-bottom: 198px; }
    .about-us__container {
      width: 768px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 162px 140px 25px;
      gap: 30px 20px;
      grid-template-areas: "img title" "img text" "img link"; }
    .about-us__img {
      margin: 0;
      width: 374px;
      height: 415px;
      grid-area: img; }
    .about-us__title {
      width: 430px;
      grid-area: title;
      margin: 0 0 0 -90px;
      align-self: center;
      font-size: 56px;
      line-height: 77px;
      z-index: 1; }
    .about-us__text {
      margin: 0;
      grid-area: text;
      font-size: 16px;
      line-height: 24px; }
    .about-us__link {
      width: 127px;
      align-self: center;
      margin: 0;
      grid-area: link;
      font-family: "Helvetica Medium";
      font-size: 12px;
      line-height: 15px; }
      .about-us__link::after {
        width: 54px;
        top: 120%; }
      .about-us__link:hover::after, .about-us__link:active::after, .about-us__link:focus::after {
        width: 100%; } }

.animation-show {
  -webkit-animation: show 1s ease-out forwards;
          animation: show 1s ease-out forwards; }

.scroll {
  display: none; }

.arrow-right--disable {
  background-image: url(../img/scroll_right_disable.svg); }
  .arrow-right--disable:hover {
    background-image: url(../img/scroll_right_disable.svg);
    cursor: default; }

.arrow-right--enable {
  background-image: url(../img/scroll_right.svg); }

.arrow-left--disable {
  background-image: url(../img/scroll_left.svg); }
  .arrow-left--disable:hover {
    background-image: url(../img/scroll_left.svg);
    cursor: default; }

.arrow-left--enable {
  background-image: url(../img/scroll_left_enable.svg); }

@-webkit-keyframes show {
  0% {
    opacity: 0; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

@keyframes show {
  0% {
    opacity: 0; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

@media (min-width: 768px) {
  .scroll {
    display: block; } }

.technology {
  margin-bottom: 90px; }

.technology__container {
  width: 260px;
  margin: 0 auto; }

.technology__title {
  width: 260px;
  margin: 0 auto;
  font-family: "Din Bold";
  font-size: 37px;
  line-height: 46px;
  text-transform: uppercase; }

.technology__scrolling {
  margin-top: -35px;
  margin-bottom: 90px; }

.technology__review {
  position: relative;
  margin: 0 auto 40px auto;
  font-family: "Din Bold";
  text-align: center; }
  .technology__review::after {
    content: "";
    position: absolute;
    background-image: url(../img/citate.svg);
    background-repeat: no-repeat;
    width: 208px;
    height: 171px;
    top: -15%;
    left: 10%; }

.technology__review-photo {
  display: block;
  margin: 0 auto 20px auto; }

.technology__review-author {
  margin: 0 0 7px 0;
  font-family: "Helvetica Medium";
  font-size: 16px;
  line-height: 27px;
  text-align: center; }

.technology__review-position {
  margin: 0;
  text-align: center;
  font-family: "Helvetica Light";
  line-height: 17px;
  color: #7c7c7c; }

@media (min-width: 768px) {
  .technology {
    margin-bottom: 130px; }
    .technology__container {
      width: 768px; }
    .technology__title {
      font-size: 56px;
      line-height: 70px; }
    .technology__scrolling {
      margin-bottom: 162px; }
    .technology__review {
      width: 700px;
      font-size: 24px;
      line-height: 36px; }
      .technology__review::after {
        width: 233px;
        height: 191px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    .technology__review-author {
      margin-bottom: 5px; } }

.feautures {
  margin-bottom: 45px;
  padding: 45px 0;
  background-color: #f2f2f2; }

.mobile-content {
  width: 260px;
  margin: 0 auto; }

.feautures__title {
  margin: 0 0 51px 0;
  font-family: "Din Bold";
  font-size: 37px;
  text-transform: uppercase; }

.feautures__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.feautures__item-title {
  margin-bottom: 20px;
  font-family: "Din";
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: #0C797A; }

.feautures__inner-list {
  font-family: "Helvetica Medium";
  padding: 0;
  margin-left: 15px;
  list-style: disc; }

.feautures__list-item {
  margin-bottom: 50px; }

.feautures__inner-list-item {
  margin-bottom: 10px; }

.post-scrolling__feautures {
  margin-bottom: 8px; }

.feautures__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left; }

@media (min-width: 768px) {
  .feautures {
    margin-bottom: 130px;
    padding: 0; }
    .feautures__title {
      font-size: 56px;
      line-height: 70px;
      margin-bottom: 50px; }
    .feautures__list {
      display: grid; }
    .feautures__item-title {
      font-size: 34px;
      line-height: 42px;
      margin: 0 0 38px 0; }
    .feautures__inner-list-item {
      font-family: "Helvetica";
      font-size: 16px;
      line-height: 19px; } }

.question {
  margin-bottom: 100px; }

.question__container {
  width: 260px;
  margin: 0 auto; }

.question__title {
  margin-bottom: 30px;
  font-family: "Din Bold";
  font-size: 37px;
  line-height: 46px; }

.question__form-input {
  width: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #828282;
  background-color: #f7f7f7; }

.question__form-input::-webkit-input-placeholder {
  color: #b2b2b2; }

.question__form-input::-moz-placeholder {
  color: #b2b2b2; }

.question__form-input:-ms-input-placeholder {
  color: #b2b2b2; }

.question__form-input::-ms-input-placeholder {
  color: #b2b2b2; }

.question__form-input::placeholder {
  color: #b2b2b2; }

.question__email {
  height: 48px;
  margin-bottom: 19px;
  padding: 0 30px;
  font-size: 16px;
  line-height: 19px;
  outline: none; }
  .question__email:valid {
    border: 1px solid #0C797A; }
  .question__email:invalid:focus {
    border: 1px solid #EB5757; }

.question__message {
  height: 128px;
  resize: none;
  margin-bottom: 30px;
  padding: 16px 30px;
  font-family: "Helvetica";
  font-size: 16px;
  line-height: 19px; }

.button {
  width: 102px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Medium";
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #0DB2B3;
  background-color: #0DB2B3;
  color: #fff;
  cursor: pointer;
  outline: none; }
  .button:hover, .button:focus {
    background-color: #fff;
    color: #0DB2B3; }

.footer__container {
  width: 260px;
  margin: 0 auto; }

.footer__logo-link {
  display: none; }

.footer__socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  list-style: none; }

.footer__rights {
  font-family: "Helvetica Light";
  text-align: center;
  font-size: 12px;
  color: #bdbdbd; }

.animation-show {
  -webkit-animation: show 1s ease-out forwards;
          animation: show 1s ease-out forwards; }

.scroll {
  display: none; }

.arrow-right--disable {
  background-image: url(../img/scroll_right_disable.svg); }
  .arrow-right--disable:hover {
    background-image: url(../img/scroll_right_disable.svg);
    cursor: default; }

.arrow-right--enable {
  background-image: url(../img/scroll_right.svg); }

.arrow-left--disable {
  background-image: url(../img/scroll_left.svg); }
  .arrow-left--disable:hover {
    background-image: url(../img/scroll_left.svg);
    cursor: default; }

.arrow-left--enable {
  background-image: url(../img/scroll_left_enable.svg); }

@keyframes show {
  0% {
    opacity: 0; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

@media (min-width: 768px) {
  .scroll {
    display: block; } }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

@media (min-width: 768px) {
  body {
    width: 768px; } }
